%section#afterword.span10
  %header
    %h2 Afterword
  %p Although this booklet is already considerably more detailed than any other single source on the Solar System, I’m not really convinced that this is somehow the last word on the topic; to the contrary, I find it likely that not only old-time players of the game, but also new readers will find themselves inspired with many questions, comments and disagreements over minor and major details.
  %p The Solar System is pretty unique in that it is an open system freely available in different languages and formats, applied and adapted by interested hobbyists as inspiration strikes us. It would thus be foolish to set myself up as some kind of exclusionary game guru, when there are lots of other talented and imaginative people playing the game as well.
  %p
    That being said, I’ll be happy to listen to comments and discuss the Solar System with interested parties. I try to keep myself abreast of indie roleplaying forums like
    %a{:href => "http://www.indie-rpgs.com"} The Forge
    and
    = succeed "," do
      %a{:href => "http://www.story-games.com"} Story Games
    which are both fine places for discussing Solar System gaming with others. I’m also personally available by e-mail at
    = succeed "," do
      %a{:href => "mailto:eero_tuovinen@arkkikivi.net"} eero_tuovinen@arkkikivi.net
    in case you have any questions about the game.
  %h2#sources_influences_and_acknowledgments Sources, Influences and Acknowledgments
  %p
    The foremost source for this work is, of course, the most recent edition of Clinton R. Nixon’s
    = succeed "." do
      %strong The Shadow of Yesterday
    Any diversions are matters of clarification or simply differing tastes.
  %p
    A secondary source is
    = succeed "," do
      %strong Menneisyyden Varjot
    the finnish edition of the above I edited to shape in 2006 myself. Strange as it might be, I’ve returned to that text many times in composing this one.
  %p Many of my topics and choices in this booklet well from diverse discussions and play with people such as Sami Koponen, Sipi Myllynen, Harald Wagener, Josh Culbertson and others too numerous to list here. I probably wouldn’t have bothered in the first place without these people.
  %p I would also be amiss in not mentioning the extensive work of Ron Edwards and the rest of the Forge regulars in rpg theory and game design; most of what I didn’t appropriate from Clinton comes from the assorted writings of Ron, Paul Czege, Matt Snyder and the rest of that crew.
  %h2#the_shadow_of_yesterday_and_beyond The Shadow of Yesterday and Beyond
  %p
    The Solar System was originally conceived by Clinton R. Nixon as the rules-set for his fantasy adventure game
    = succeed "." do
      %strong The Shadow of Yesterday
    The game’s all about sword &amp; sorcery adventure stories set to modern sensibilities with slavery and ruined civilizations contrasted to hippy, elk-riding barbarians. The Solar System notions of how roleplaying goes are in full harmony with the world of Near, the setting of the game.
  %p Personally I like The Shadow of Yesterday a lot. So much, in fact, that I’m going to continue with my revision binge and do a new edition of the setting as well at some point in the near future. This’ll allow us to incorporate lots of new ideas and details people have created for the world of Near during the last couple of years, which should prove pretty interesting.
  %p Meanwhile, though, I encourage the reader to use the system as he would. The Solar System is available under several Creative Commons licensing terms, so in addition to all sorts of private use you may feel free to distribute your related creations to the wider world with impunity.
  %p The Solar System logo shown below is something we whipped up for use win any future publications, websites and such that might need to communicate compatibility with the Solar System. Apart from using it myself, I welcome others to use it for those purposes as well. I’ll put it up in the net somewhere when I have the time.