%section#example_abilities
  %header
    %h2 Example Abilities
  %p These examples of typical Abilities range widely over all kinds of imaginable settings. Remember to crop and extend the list appropriately for a Solar System campaign to reflect the actual setting!
  %p
    The description of each Ability is first and foremost intended to make sure the players are on the same page over what the Ability represents in the
    %em fiction
    of the game. Unlike many other games, Solar System Abilities are primarily described in fictional terms, as they do not possess any Ability-specific mechanical effects - players have to understand what an Ability does in the fiction to gauge any mechanical consequences.
  .row.offset1
    %dl.abilities.span5.left
      %dt#academics_r Academics (R)
      %dd If the given campaign does not feature more exact academic skills, then this would be the catch-all designation for a character with an academic background. Most pulp adventures and such will however benefit from some differentiation, in which case this Ability could serve as a secondary gauge of education.
      %dt#amorous_arts_i Amorous Arts (I)
      %dd Courtesans and courtiers well versed in pleasing others in intimate circumstances are a staple of many genres. Often these skills become a linchpin of the whole plot as characters fall in or out of love in their complex machinations. Especially appropriate in historical fiction, wherein female characters have few strengths as is.
      %dt#animal_handling_i Animal Handling (I)
      %dd For more developed settings vague "animal handling" is probably too uncharacteristic, but high fantasy (which romanticizes nature) or pulp fiction (with Tarzan-type "wild" characters) could well make use of some sort of animal empathy. More civilized settings subsume animal handling into specific occupational skills.
      %dt#bargain_i Bargain (I)
      %dd While it might not suit a knightly setting, scoundrel characters often need to know what things are worth and what others think they are.  Whether a character can affird something might be resolved with this very Ability; most Solar System campaigns track character finances in vague, cinematic terms.
      %dt#blaster_weapons_v Blaster Weapons (V)
      %dd Vaguely scientific energy weapons are a staple of space opera, so an Ability dedicated to fighting with them could be appropriate, presuming that the weapons require some ability in the first place.  Such a martial art might be used to repaid and care for the weapons, as well as fighting with them or making trick shots.
      %dt#combat_experience_i Combat Experience (I)
      %dd An Ability depicting the brutality and extent of a character's career in war.  Useful in making the correct battle-field decisions and not freezing up in danger.  Could also cover shootery and everything else about soldiering if the topic was marginal for the campaign.  Relevant mostly when there are some non-combatants in the game as well.
      %dt#conspire_i Conspire (I)
      %dd Some Abilities are very setting-specific.  A specific Ability for running conspiracies successfully probably would not develop outside a culture in constant political upheaval of a of a particularly roundabout kind.  More likely, a powerful and ancient conspiracy might well actually possess in its folds just such a knowledge-base.
      %dt#courtesy_i Courtesy (I)
      %dd Social skills can be categorized in all kinds of ways into Abilities.  The best results are achieved by emulating the setting: if the setting culture has a concept for courtesy as something learned, then it makes sense as an Ability.  European nobility in the modern age used to be taught exactly like this to facilitate social interaction.
      %dt#dueling_v Dueling (V)
      %dd Many cultures of the past and fantasy have Duelling traditions for judicial, social or religious reasons.  A character well-versed in the art would have an edge in any one-on-one confrontation with familiar weapons; this Ability would be less useful in a chaotic melee or dishonorable surprise situations, though.
      %dt#equilibristics_v Equilibristics (V)
      %dd A general name for all sorts of circus acts from acrobats to juggling, covering a range of entertainment gymnastics.  A less abstract name such as "Circus Acts" or "Acrobatics" would go better in a pre-modern context, but would go better in a pre-modern context, but this sort of Ability might go well for a modern enthusiast of a circus arts.
      %dt#flying_i Flying (I)
      %dd Whether flying is a Vigor, Instinct or Reason Ability actually depends on wo is flying and how.  A flying animal would use Vigor, while a human pilot would probably use Instinct.  A scifi space navigator could well use Reason.  Just flying a plane wouldn't necessarily be an Ability at all in many genres, though, being de rigeur.
      %dt#freeload_i Freeload (I)
      %dd Similar to a begging skill-set but fancier: the freeloader knows how to leech off a living from well-off friends, paying with wit, entertainment or perhaps minor house-work.  A feasible Ability for a social character, sure to lead to interesting situations if the setting has a place for layabouts.
      %dt#gadgetry_r Gadgetry (R)
      %dd
        A cinematic spy or pulp adventure setting would certainly have something for inventing and/or operating special equipment.  The Ability would probably be supplemented by a range of
        = succeed "." do
          %a{:href => "/secrets_and_crunch"} Secrets
        On the other hand, a more realistic or futuristic game would work with specific scientific and tool-use Abilities.
      %dt#goetia_r Goetia (R)
      %dd Ability in Goetia is knowledge of the practices of summoning spirits, demons and angels according to the Lesser Key of Solomon.  It is a good example of how fantastic magical arts work better with specific names, purposes and ties in the setting; calling the Ability "Summoning" would be vague in comparison.
      %dt#hard_work_v Hard Work (V)
      %dd Cinematic heroes do not usually shine for their stamina and perseverance in honest work, but roleplayers luckily have more leeway in defining what their stories are about.  A character could prosper as a simple farmer, win a threshing contest or impress a prospective father-in-law with this Ability, for example.
    %dl.span5.left
      %dt#hypnosis_r Hypnosis (R)
      %dd The Ability to control others with mesmerism is a staple of pulp-style stories in all genres.  Classically such an Ability is used to both harm and heal in inventive ways, as hypnosis opens the mind in mysterious or even mystical manner.  The Ability might have less fantastic uses in a modern thriller sort of thing, as well.
      %dt#internet_skills_r Internet Skills (R)
      %dd A modern and near-future Ability used in the global networks.  Useful in information and contacts search, creating web content and understanding web programming and protocols, as well as getting around tracing and censorship.  Computer-literate people would all possess this Ability, but only a few professionals have higher ranks.
      %dt#kung_fu_v Kung-fu (V)
      %dd A suitable catch-all martial Ability for characters in a Chinese historical or fantasy game; pure wuxia might also have Soldiering (V) and Treachery (I) as other violent Abilities to contrast the noble martial scholar with other ass-kicking forces.  A character's specific style would be depicted with Secrets, again.
      %dt#language_specify_r Language (specify) (R)
      %dd Language-skills are an example of an Ability that is not appropriate for a cinematic campaign.  However, an imaginative game centered upon anthropological issues or a first meeting between cultures would be entirely feasible.  Alternatively, an Ability for "knowing many languages in general" would work for adventurous games, too.
      %dt#music_i Music (I)
      %dd Music and other artistic Abilities are fun to play with in a certain kind of dramatic setting that allows art larger than life to be whipped out on command to impress and influence.  The Ability is probably appropriate in more realistic settings only if the campaign will actually have some substantial interest in artists and art.
      %dt#re_animate_v Re-animate (V)
      %dd An example of a purely fantastic Ability that undead monsters in fantasy environments or retrovirally vitalized scifi aliens might possess.  The setting would have to determine how the Ability works, exactly, and when; the players can't use the real world as a gauge here, so all they really have is the agreed-upon setting and fiction.
      %dt#religion_specify_r Religion (specify) (R)
      %dd A religious authority in any setting will probably have some use for an Ability concerning his theology, knowledge of the rites and "strength of faith" (unless the latter is covered by some other Ability).  In general, combining a skill-set with cultural abilities and communal contacts like this makes for a strong Ability.
      %dt#riding_v Riding (V)
      %dd Horseback-riding is a cinematic Ability suitable for heroes in many historical and fantasy settings.  The Ability could be used to care for equines, escape dangerous situations on horseback, catch escapees or gain an edge in battle.  By analogy, an Ability for keeping and driving a car would be quite appropriate as well.
      %dt#servitude_i Servitude (I)
      %dd An example of an occupational Ability useful in some settings: understanding and fulfilling routine commands, not drawing the ire of the master and acting appropriately to the station would all be covered by this, as well as any domestic skill sets implied by the position and household.
      %dt#sports_v Sports (V)
      %dd In general, a sporting Ability resembles art Abilities in when and where it might work well.  A modern game, or one set in ancient Greece, might find an Ability dedicated to athletic accomplishment appropriate.  A campaign focusing on the matter might even have players specify which sport their character excels in.
      %dt#streetwise_r Streetwise (R)
      %dd Knowing the right etiquette, people and habits of the local criminal underworld and the streets scene surrounding it.  Could also count for actual criminal work skills when the campaign has no major focus in that direction.  Similar Abilities are easy to create for other subcultures; how widely useful each is depends on campaign focus.
      %dt#super_strength_v Super-strength (V)
      %dd Exceptional and clearly exclusive Abilities are possible as well, such as those a super-hero might possess.  A whole race of creatures might have a similar Ability in a fantasy context.  The exceptional nature of this Ability can be further emphasized by requiring a specific Secret for characters to obtain Super-strength.
      %dt#surgery_r Surgery (R)
      %dd Surgery would likely be too narrow an occupational in a modern game (something like "Medicine" would probably serve wider interests), but as it was a specific, less specialized occupation in the Middle Ages separate from the academic physician, it'd make a fine Ability in a historical campaign.
      %dt#vampire_lore_r Vampire Lore (R)
      %dd This Ability would only be usable in a setting where the focal point of interest was vampirism.  Entirely appropriate for a reinterpretation of Bram Stoker's Dracula, for example, where Vampire Lore could winnow fact from myth and allow characters to make informed decisions about the mysterious threat.
      %dt#woodcraft_v Woodcraft (V)
      %dd There may be many types of wilderness survival in some settings, depending on whether the differences between forests, glaciers, deserts and other environments warrant such focus.  Regardless, the Ability facilitates moving, sheltering and finding food in wilderness environments.  Hunting might be covered as well in some settings.
%section#example_keys
  %header
    %h2 Example Keys
  %p
    These example Keys are just a shallow flash into the possibilities. Know your campaign and pick Keys suitable to the issues - or establish some interesting tendencies in the setting, such as having almost all Arcturans possess the
    %code Key of Necrophagy
    or whatever.
  .row.offset1
    %dl.keys.span5.left
      %dt#adventure Adventure
      %dd
        %p The character has adventure in his blood.  It even follows him around.
        %dl
          %dt 1xp
          %dd Go to new places, meet new people and live a life of excitement.
          %dt 2xp
          %dd Participate in an unlikely, yet dramatic coincidence.
          %dt 5xp
          %dd Finish an adventure.
          %dt Buyoff
          %dd Settle down for good.
      %dt#aide_to_whom Aide (to whom)
      %dd
        %p The character is in service of another.  Why?  How far?  What of his own judgement?
        %dl
          %dt 1xp
          %dd Obey the master's order.
          %dt 2xp
          %dd Suffer in service.
          %dt 5xp
          %dd Save the master from a tight spot.
          %dt Buyoff
          %dd Leave service.
      %dt#alignment_choose Alignment (choose)
      %dd
        %p The character has a D&amp;D-style alignment, such as "lawful" or "evil".  You know how those work.
        %dl
          %dt 1xp
          %dd The alignment comes up.
          %dt 2xp
          %dd You and your party act to follow the alignment.
          %dt 5xp
          %dd Sacrifice party integrity and/or resources to follow your alignment.
          %dt Buyoff
          %dd Change alignment.
      %dt#badge Badge
      %dd
        %p The character is a police officer, with the associated responsibilities.
        %dl
          %dt 1xp
          %dd Uphold the law.
          %dt 2xp
          %dd Bend the law.
          %dt 5xp
          %dd Get shot in the line of duty.
          %dt Buyoff
          %dd Change careers.
      %dt#conan Conan
      %dd
        %p The character is Conan.
        %dl
          %dt 1xp
          %dd Fulfill your urges to the max.
          %dt 2xp
          %dd Grasp the adventure that beckons.
          %dt 5xp
          %dd Triumph over your enemies.
          %dt Buyoff
          %dd Become soft and civilized.
      %dt#conscience Conscience
      %dd
        %p The character knows right from wrong and might sometimes even act on it.
        %dl
          %dt 1xp
          %dd Help the week and needy.
          %dt 3xp
          %dd Save an innocent life.
          %dt Buyoff
          %dd Ignore the cries of the innocent.
      %dt#criminal Criminal
      %dd
        %p The character is a hardened criminal.
        %dl
          %dt 1xp
          %dd Interact with criminals.
          %dt 2xp
          %dd Perform a crime.
          %dt 5xp
          %dd Escape justice.
          %dt Buyoff
          %dd Make restitution for your crimes.
      %dt#cripple Cripple
      %dd
        %p The character is crippled or has some other drastic disadvantage of that sort.
        %dl
          %dt 1xp
          %dd The disadvantage causes difficulty.
          %dt 2xp
          %dd Substantial problems, such as penalty dice or narrowed opportunities.
          %dt 5xp
          %dd Fail in an important situation due to the disadvantage.
          %dt Buyoff
          %dd Accept the condition.
      %dt#dark_secret Dark Secret
      %dd
        %p The character has a mysterious past with terrible secrets.
        %dl
          %dt 1xp
          %dd Your past comes up somehow.
          %dt 2xp
          %dd Clues to your past are revealed.
          %dt 5xp
          %dd Your past endangers your present.
          %dt Buyoff
          %dd Confide your story to another.
      %dt#despair Despair
      %dd
        %p The character has lost his hope and gone nigh insane about it.
        %dl
          %dt 1xp
          %dd Try to convince others to stop their futile struggle.
          %dt 3xp
          %dd Give up on an important struggle.
          %dt Buyoff
          %dd Find the courage to hope again.
      %dt#duelist Duelist
      %dd
        %p The character duels frequently, perhaps because he is paid to.
        %dl
          %dt 1xp
          %dd Challenge somebody into a duel.
          %dt 2xp
          %dd Get challenged yourself.
          %dt 5xp
          %dd Kill in a duel.
          %dt Buyoff
          %dd Lose a duel.
      %dt#edge Edge
      %dd
        %p The character has a self-destructive lifestyle.
        %dl
          %dt 1xp
          %dd Act in an irresponsible manner.
          %dt 2xp
          %dd Others worry about your lifestyle.
          %dt 5xp
          %dd Get hurt due to your choice of lifestyle.
          %dt Buyoff
          %dd Commit to a responsiblity.
      %dt#faith_specify Faith (specify)
      %dd
        %p The character is strong of faith in a particular religion or cause.
        %dl
          %dt 1xp
          %dd Defend the reigion to others.
          %dt 2xp
          %dd Convert another to your faith.
          %dt 5xp
          %dd Defend the faith despite personal danger.
          %dt Buyoff
          %dd Deny your faith.
      %dt#family Family
      %dd
        %p The character's family is an important and ever-present condition.
        %dl
          %dt 1xp
          %dd Have a family scene.
          %dt 2xp
          %dd Argue within the family.
          %dt 5xp
          %dd Sacrifice for your family.
          %dt Buyoff
          %dd Leave your family.
      %dt#fan_service Fan Service
      %dd
        %p The character ends up in some pretty compromising situations.  Luckily she's not hard on the eyes.
        %dl
          %dt 1xp
          %dd You get some hot description.
          %dt 2xp
          %dd A wardrobe accident.
          %dt 5xp
          %dd Another character gets a solid peek.
          %dt Buyoff
          %dd Have an explicit sex scene.
      %dt#fighting Fighting
      %dd
        %p The character is all about the bloodlust.
        %dl
          %dt 1xp
          %dd Attack somebody.
          %dt 3xp
          %dd Win a fight.
          %dt Buyoff
          %dd Refuse a fight.
      %dt#great_power Great Power
      %dd
        %p The character has failed his conscience and now looks for redemption.
        %dl
          %dt 1xp
          %dd Use your power for good.
          %dt 3xp
          %dd Suffer for redemption.
          %dt Buyoff
          %dd Abandon your role in community.
    %dl.keys.span5.left
      %dt#idol Idol
      %dd
        %p The character wants to be popular.
        %dl
          %dt 1xp
          %dd Make sure everybody knows how cool you are.
          %dt 3xp
          %dd End up as laughing-stock.
          %dt Buyoff
          %dd Choose friends over fame.
      %dt#insanity Insanity
      %dd
        %p The character is quite utterly insane.
        %dl
          %dt 1xp
          %dd Act insane.
          %dt 3xp
          %dd Hurt yourself or others due to your insanity.
          %dt Buyoff
          %dd Recover your sanity.
      %dt#greed Greed
      %dd
        %p Wealth is its own purpose for the character.  Will anything be enough?
        %dl
          %dt 1xp
          %dd Act miserly in transaction
          %dt 3xp
          %dd Bend or break honor or law for wealth and gain.
          %dt Buyoff
          %dd Abandon your wealth.
      %dt#lgbt LGBT
      %dd
        %p The character belongs in a sexual minority.
        %dl
          %dt 1xp
          %dd The orientation comes up.
          %dt 2xp
          %dd Practice the sexuality.
          %dt 5xp
          %dd You are persecuted or shunned for your sexual habits.
          %dt Buyoff
          %dd Renounce your minority.
      %dt#mad_science Mad science
      %dd
        %p The character tinkers with forces man was not meant to know.
        %dl
          %dt 1xp
          %dd Have a scene at your workshop.
          %dt 2xp
          %dd Use your science to solve a problem.
          %dt 5xp
          %dd Your creation runs wild.
          %dt Buyoff
          %dd Lose your laboratory.
      %dt#metahumanity Metahumanity
      %dd
        %p The character is a superhuman, with wondrous powers.
        %dl
          %dt 1xp
          %dd Use your powers.
          %dt 2xp
          %dd Overcome a challenge thanks to your powers.
          %dt 5xp
          %dd Your powers change or you learn more of them.
          %dt Buyoff
          %dd Lose your powers.
      %dt#minority_specify Minority (specify)
      %dd
        %p The character is a member of an ethnic minority or a small nationality.
        %dl
          %dt 1xp
          %dd Express your ethnic culture.
          %dt 2xp
          %dd Your people show up in the campaign.
          %dt 5xp
          %dd Win an important struggle thanks to your cultural strengths.
          %dt Buyoff
          %dd Turn against your people.
      %dt#monster_hunter Monster Hunter
      %dd
        %p A monster-hunter is dedicated to protecting humanity from the secret threat.
        %dl
          %dt 1xp
          %dd Discuss the monsters with others.
          %dt 2xp
          %dd Find evidence of monsters.
          %dt 5xp
          %dd Face a monster.
          %dt Buyoff
          %dd Become a monster.
      %dt#mythos Mythos
      %dd
        %p The character is embroiled in the study of the Cthulhu mythos.
        %dl
          %dt 1xp
          %dd Read forbidden books.
          %dt 2xp
          %dd See forbidden sights.
          %dt 5xp
          %dd Encounter monsters.
          %dt Buyoff
          %dd Become insane.
      %dt#pacifism Pacifism
      %dd
        %p The character is committed to non-violence out of fear or principle.
        %dl
          %dt 1xp
          %dd Advocate a peaceful solution to a violent problem.
          %dt 2xp
          %dd Solve a violent situation without resorting to violence.
          %dt 5xp
          %dd Suffer from refusing to use violence.
          %dt Buyoff
          %dd Resort to deliberate violence.
      %dt#party_specify Party (specify)
      %dd
        %p The character is a member of a group with overriding common concerns.
        %dl
          %dt 1xp
          %dd Discuss the course of the party with the others.
          %dt 2xp
          %dd Cooperate with the party to achieve your goals.
          %dt 5xp
          %dd Side with the party against your best interests.
          %dt Buyoff
          %dd Leave the party.
      %dt#prophet Prophet
      %dd
        %p The character has the gift to see the future, or at least he believes so.
        %dl
          %dt 1xp
          %dd Make a ritual prediction.
          %dt 2xp
          %dd Get into trouble because of the predictions.
          %dt 5xp
          %dd Your prediction comes true.
          %dt Buyoff
          %dd Lose faith in your own prophecy.
      %dt#pugilist Pugilist
      %dd
        %p The character is a practitioner of the sweet science.
        %dl
          %dt 1xp
          %dd Train for a match.
          %dt 2xp
          %dd Lose a match.
          %dt 5xp
          %dd Win a match.
          %dt Buyoff
          %dd End your career.
      %dt#quest_specify Quest (specify)
      %dd
        %p The character has committed to a significant and valorous quest.
        %dl
          %dt 1xp
          %dd Strive to proceed with the quest.
          %dt 2xp
          %dd Succeed in proceeding.
          %dt 5xp
          %dd Reach a turning point in the quest.
          %dt Buyoff
          %dd Abandon or fulfill the quest.
      %dt#rock_star Rock Star
      %dd
        %p The character is an insanely famous rock star, with gold records and all.
        %dl
          %dt 1xp
          %dd Get recognized on the street.
          %dt 2xp
          %dd Rock out on stage.
          %dt 5xp
          %dd Break laws and morals.
          %dt Buyoff
          %dd Get into a clinic.
      %dt#sorcery Sorcery
      %dd
        %p The character masters the eldritch powers of sorcery.
        %dl
          %dt 1xp
          %dd Explore arcane lore.
          %dt 2xp
          %dd Gather arcane implements.
          %dt 5xp
          %dd Summon a demon.
          %dt Buyoff
          %dd Banish a demon.
      %dt#space_exploration Space Exploration
      %dd
        %p The character belongs in the Terran Space Exploration Corps.
        %dl
          %dt 1xp
          %dd Come to a new star system.
          %dt 2xp
          %dd Land on a new planet.
          %dt 5xp
          %dd Find an alien civilization.
          %dt Buyoff
          %dd Leave service.
      %dt#vow_specify Vow (specify)
      %dd
        %p The character has made a vow or suffered a geas concerning certain behavior or duty.
        %dl
          %dt 1xp
          %dd An opportunity to break the vow comes up.
          %dt 3xp
          %dd Refuse to break the vow despite rewards or threats.
          %dt Buyoff
          %dd Break the vow.
%section#example_secrets
  %header
    %h2 Example Secrets
  %p
    The secrets here are all depicted in extremely generic terms and picked for mechanical variety; in actual play not every Secret would need to have different mechanics and they would all be much more specific in describing both their effects and how a character might come about learning the Secret. Examples of more specific implementations are in
    %a{:href => "/secrets_and_crunch#advanced_crunch"} Advanced Crunch
  .row.offset1
    %dl.secrets.span5.left
      %dt#aide_person Aide (person)
      %dd
        %p
          Choose an amiable secondary character who has no Abilities higher than the character's.  (Create full statistics for the character if not already done.)  The secondary character is now assumed to stick with the player character and help him out of loyalty to common motives payment or other suitable motive.  The aide follows instructions for the most part; the Story Guide may contest individual commands with a
          %code Resist (R)
          check.  The secondary character has
          %code
            %a{:href => "#aide_to_whom"} Key of Aide
          for free, but may not use any other Keys; the player character may not gain experience due to interaction with his aide.
      %dt#avoidance_ability Avoidance (Ability)
      %dd
        %p The character knows how to pre-empt conflict: a successful action to avoid in extended conflict ends the conflict without resolution.  This does not prevent the opponent from re-engaging normally, but the fictional situation might change to make that unfeasible right away.
        %p
          %strong> Cost
          \: 2 Pool associated with the Ability.
      %dt#background_particular Background (particular)
      %dd
        %p The character's background is exceptional for the setting; he might be a noble in a medieval society, for example.  Any rules-effect depends on the particular background.  A noble might gain access to further noble-only Secrets, while a vagrant might be able to cherry-pick Abilities from several cultural places and a hermit might be able to refresh his Pools with animal companions, for example.  In addition, all backgrounds grant a bonus die for interactions involving the background.
      %dt#blessing_ability Blessing (Ability)
      %dd
        %p
          Pick a motivational Ability such as
          %code Pray (V)
          or
          = succeed "." do
            %code Rhetoric (I)
          When exorting a group of other characters towards a given task with the chosen Ability, the player may define an Effect based on the Ability check, representing his commitment to the task at hand; all listeners who accept the task may buy the Effect normally, effectively duplicating it.
        %p
          %strong> Cost
          \: 2 Pool associated with the Ability, plus the cost of the Effect
      %dt#bodhisattva Bodhisattva
      %dd
        %p
          The character (not necessarily a literal bodhisattva) refuses to let go, preferring to continue in the campaign: when the character makes a
          %code Transcendent (7)
          level success in an Ability check, the player may opt to roll additional penalty dice into the check before accepting the result, thus potentially lowering it from
          = succeed "." do
            %code Transcendent
        %p
          %strong> Cost
          \: 1st level Harm per penalty die.
        %p
          %strong> Requirement
          \: at least one
          %code Grand Master (4)
          Ability.
      %dt#contacts Contacts
      %dd
        %p The character knows plenty of people all around.  The player may introduce a new secondary character with a short phrase or claim a character the Story Guide just introduced as his contact.
        %p
          %strong> Cost
          \: 3 Pool, type (and mix) depending on the nature of the relationship: Vigor for ol' buddies, Instinct for lovers, Reason for colleagues and so on.
      %dt#difficulty_particular Difficulty (particular)
      %dd
        %p The character has some difficulty in comparison to others, such as being crippled or outcast.  He has managed to compensate, however: the character may buy unlimited bonus dice with Pool points whenever his difficulty causes him conditional penalties.  (This does not help in situations that disallow a check altogether.)  Additionally, the character may regain the Advances for any benefits he cannot use anymore due to his difficulty, as he accepts his loss.
      %dt#estimation Estimation
      %dd
        %p
          The character is adept at analyzing conditions.  A successful check with the
          %code React (I)
          Ability allows the player a number of questions equal to the level of success concerning the game statistics of other characters; names of current effects, Pool sizes, Ability ratings, etc.  are all fair game for estimation.  Obviously, this Secret is only feasible if the group limits this sort of information in some manner in the first place.
        %p
          %strong> Cost
          \: 1
          %code Instinct
      %dt#equipment_particular Equipment (particular)
      %dd
        %p The character has some unusual equipment, such as a horse (for a medievalish setting), or anything else that most people wouldn't possess, really.  The character may declare and possess one free Effect representing the equipment.  (In other words, the first Effect related to the equipment does not cost Pool points, while the player may also pick one such Effect during each refresh to preserve for free.)
        %p
          %strong> Cost
          \: 2
          %code Instinct
      %dt#harrying_ability Harrying (Ability)
      %dd
        %p The character is skilled in minimizing his losses in conflict.  When the character loses a normal conflict with the chosen Ability, the player may opt to deduct his check result from the winner's check, effectively lowering the degree of victory drastically for all purposes.  Alternatively, he may make an Effect from his own check result.
        %p
          %strong> Cost
          \: 2 associated Pool
      %dt#imposition_motivation_key Imposition (motivation key)
      %dd
        %p The character has learned to convince others of his viewpoint.  A successful social Ability check (probably resisted) forces the target or targets to immediately obtain the chosen Key, going into Advance debt if necessary.
        %p
          %strong> Cost
          \: 2
          %code Instinct
        %p
          %strong> Requirements
          \: possess the Key.
      %dt#incubation_secret Incubation (Secret)
      %dd
        %p The character has a treasure map, recording contract or other opportunity for gaining some Secret.  When the character has made three successful Ability checks towards the process, this Secret is exchanged for the chosen Secret.
    %dl.secrets.left.span5
      %dt#mighty_blow_ability Mighty Blow (Ability)
      %dd
        %p
          The character has learned to finish what he starts: the player may increase the level of Harm for any Harm-causing Ability check with the chosen Ability on a 1:1 basis with Pool points from the associated Poo.  The Harm may not be increased past
          = succeed "," do
            %code Broken
          however.
        %p
          %strong> Cost
          \: 1 Pool associated with the Ability per increased level of Harm.
      %dt#quality_construction_ability Quality Construction (Ability)
      %dd
        %p The character's genius creates especially potent Effects with one Ability.  A character using an item, condition or other preparation made with Quality Construction gains one more bonus die per check when spending it for bonus dice.
        %p
          %strong> Cost
          \: 3
          %code Reason
          and cost of Effect
      %dt#retraining_ability_pool Retraining (Ability, Pool)
      %dd
        %p
          The character has an esoteric background or special training.  Pick and Ability and a Pool.  This Ability is now associated with this Pool
          = succeed "." do
            %em as well
          Depending on the Ability this might allow the character to use it in new situations and for new purposes as well.
      %dt#shattering_ability Shattering (Ability)
      %dd
        %p The character is especially skilled in destroying Effects that might be affected with the chosen Ability.  Any level of success destroys a whole Effect, and the player may split excess success levels against several Effects as the situation allows.
        %p
          %strong> Cost
          \: 2 Pool related to the Ability per affected Effect.
      %dt#specialization_ability_specialty Specialization (Ability, specialty)
      %dd
        %p Pick an Ability and define a specialty within the Ability.  The character has a knack for doing especially well within the specialty, gaining a free bonus die for any such Ability checks.
      %dt#skirmish_ability Skirmish (Ability)
      %dd
        %p When the character is in conflict against several opponents while using the chosen Ability, the opposing checks are compared against him separately instead of support chains.  In extended conflict, the player may pay Pool to target several appropriate opponents with the Ability, even when the situation wouldn't normally warrant such.
        %p
          %strong> Cost
          \: 2 associated Pool for normal conflicts, 1 per extra opponent in extended.
      %dt#surprise_pool Surprise (Pool)
      %dd
        %p The character is adept at disorienting his opponents in the physical, social or intellectual arena (choose one Pool).  In conflict, when the character surprises the opponent, they have to respond with the appropriate Passive Ability instead of their intended action.  This works in both normal and extended conflict.
        %p
          %strong> Cost
          \: 1 Pool as chosen.
      %dt#survivalism_pool Survivalism (Pool)
      %dd
        %p The character tends to be always prepared, at least in one area of life.  When refreshing the chosen Pool, the player may make a check with the corresponding Passive Ability to off-set the Pool costs of retaining any Effects associated with the Pool by the success level.
      %dt#synergy_ability_ability Synergy (Ability, Ability)
      %dd
        %p The character has learned to combine two Abilities seamlessly in situations that use both.  The player may support either Ability with the other without using an action in extended conflict.  In normal conflict check both Abilities simultaneously and have the worse result support the better, regardless of the details of the situation.
      %dt#talent_particular Talent (particular)
      %dd
        %p The character has an interesting special talent that allows him to do things others couldn't even try.  The talent might not always work as a matter of course, or might be useful in conflict, in which case it defines the Ability used with it.  The talent does not have further mechanical impact, however.
        %p
          %strong> Cost
          \: 1 associated Pool point for minor tricks that are rarely useful, 2 for useful and flexible talents and 3 for major effects that always change the nature of the scene when used.  Add +1 for prestigious stuff that makes other players jealous and -1 for talents that require an Ability check to execute most of the time.
      %dt#summoning_type Summoning (type)
      %dd
        %p The character has some sort of summoning powers, like he can summon demons or animals from the woods, creating/introducing a secondary character.  The character makes an appropriate Ability and Advances equal to three times the initial Ability check result, to be distributed to Abilities, Pools and Secrets. The Story Guide distributes half of the Advances, the rest are cosen by the character.  Summoned characters do not have Keys.  The summoned creature does not particularly obey the summoner.
        %p
          %strong> Cost
          \: Check result in Pool associated with the used Ability.
      %dt#teacher Teacher
      %dd
        %p The character is skilled at teaching.  When another character learns from this one, the student regains one experience point per Advance spent under the tutelage.
        %p
          %strong> Cost
          \: 1 Pool associated with the method of teaching per Advance taught.
      %dt#training_ability Training (Ability)
      %dd
        %p The character has been formally schooled in the use of the chosen Ability.  You are not limited to just one bonus die from Pool points when making an Ability check.
      %dt#wrestling_pool Wrestling (Pool)
      %dd
        %p The character knows how to force an issue with his chosen arena.  When his Ability check with an Ability associated with the chosen Pool ties an opponent (in normal or extended conflict), the player may opt to enter into a Pool bid with the opponent (each using the associated Pool of his Ability): the players pay Pool points one at a time until the opponent cannot or will not pay.  The winner of the bid is considered to have won the check by a margin of one.
