%section#character_creation.chapter.span10
  %header
    %h1 Character Creation
  %p
    %code Player characters
    are the central protagonists of the fictional matter developed in a Solar System campaign. All players (apart from the Story Guide) create characters as their sole and primary province of play, through which they mainly experience and act in the setting.
  %p Each player has the primary power and responsibility in developing his own character, but the work is still cooperative between the players: listen to each other and tell the rest of the group of your character, for they are really your audience in this undertaking, whose pleasure and entertainment greatly depends on your creating an interesting and touching character — a genuine protagonist of stories to come!
  %p The players might well wish to use a special character sheet for recording the mechanical aspects of their characters. Just such a sheet may be photocopied from the end of this booklet, or found in the Internet easily enough.
  %p It should also be noted that while character creation is all about inventing and describing a fictional persona and background, players should avoid overdoing it on this point: the intent is to develop enough of a foothold for the players to begin their story, not to nail down everything interesting about the character all at once. The Story Guide is in excellent position to direct the other players from a neutral viewpoint, in turn exhorting and reining in their creativity in this regard.
  %section#abilities
    %header
      %h2 Abilities
    %p
      The first order of business in creating player characters for the Solar System is to define their
      = succeed "," do
        %code Abilities
      which is simply to say, decide upon the particular strengths of the character in question when they seek success in their fictional undertakings.
    %p
      Good Abilities are always such that they resolve
      %code conflicts
      of interest between characters in an exciting manner. Conflicts and handling them in the course of play are discoursed upon in more depth in
      = succeed "," do
        %a{:href => "#conflict_resolution"} Conflict Resolution
      but for now it is enough to remember that we want our characters to have Abilities bestowed with powers of resolution. In this way players might regard a character with the rather practical Ability of
      %code Cooking
      with suspicion, unless the setting of the campaign truly involves master cooks resolving conflicts with their mighty flambes. (
      %a{:href => "https://www.google.com/search?&q=iron+wok+jan"} Which matter
      is not entirely unknown in our rich and diverse modern narrative tradition, I should note, so perhaps it is wise to not be too judgmental of inventive Abilities!)
    %p
      Abilities are highly individual in that the players may invent and pick freely which Abilities their characters should have, all according to the setting of the game: if the character hails from the frozen northlands,
      %code Skiing
      is far from unreasonable; a wily merchant-type person would certainly know
      = succeed "," do
        %code Bartering
      likewise. The group may decide themselves what kind of Abilities are appropriate for the campaign setting and character background at hand. The Story Guide is again in an excellent position to judge on these matters due to his status as a facilitator.
    %p
      However, while Abilities are individually flexible, they also provide opportunity for useful structure and setting ties, which should be developed to their fullest extent. For instance, should the game setting include an exceptional culture of Origami masters, it might be well appropriate to decide that the Ability of
      %code Origami crafting
      would only be available to characters hailing from among those people. Similarly, it might be that the Ability to operate
      %code Blaster Weapons
      would be available only to high nobility of craftworlds in a certain type of science fiction setting. Thus the Abilities gain implications and identity weight they otherwise would not have.
    %p
      A ready-made setting for Solar System includes an extensive treatise on Abilities suitable for characters with different backgrounds appropriate for that setting, as well as plenty of ready-made Abilities. For our current generic purposes there is
      = succeed "." do
        %a{:href => "#example_abilities"} a sample list of Abilities and how they might work in the game
      While the list is not outright usable in any single campaign, the group should have little trouble culling it for ideas that fit their particular game setting much better.
    %h3#ability_ranks Ability Ranks
    %p
      While Abilities are very flexible in definition, each Ability a character has always comes with a set
      = succeed "," do
        %code rank
      a level that represents its significance in the campaign. Starting player characters already possess some formidable Ability ranks, and they will generally rise as the campaign progresses and characters come into crossroads where their choices matter in ever more significant context.
    %p
      The five ranks of Ability are, from lowest to highest,
      = succeed "," do
        %code Mediocre (0)
      = succeed "," do
        %code Competent (1)
      = succeed "," do
        %code Expert (2)
      %code Master (3)
      and, finally,
      = succeed "." do
        %code Grand Master (4)
      Each has a descriptive name as well as a numerical value used by the game mechanics.
    %p There is no Ability rank to represent below-average Ability because the ranks are not directly representative of character competence in fiction, but of their capability in resolving conflicts utilizing their Abilities. Being incompetent in the use of an Ability is either just descriptive color, or signifies that the character does not possess the Ability in question at all, making the character unable to triumph with that Ability.
  %section#heroic_event
    %header
      %h2 Heroic Event
    %aside.span5.well
      %h3#example_heroic_events Example Heroic Events
      %ul
        %li A boy saves a fisherman from drowning by dragging him to the shore.
        %li The only citizen to speak against the conqueror is an old pensioner.
        %li A ghost appears as the young medium’s powers manifest for the first time.
        %li She betrayed her father and was rewarded with high marriage.
        %li The demigod slew snakes threatening his destiny while yet in the cradle.
        %li The only ship to be piloted through the Keralan asteroid fields intact.
        %li The newest Oxford tenure goes to a disguised, yet brilliant, female.
    %p
      The players will probably have some rough idea of what kind of characters they want to play. The first decision to make on starting up a new character is to declare a
      %code Heroic Event
      appropriate for the character concept. This is just a simple image, a short scene that establishes what the character is about.
    %p
      All Solar System characters are heroic in that they are
      = succeed "." do
        %em significant
      Thus each is first and foremost introduced by a Heroic Event that defines some little character background and what the character is good at. This is an opportunity for the player to signal the rest of the group over what excites him in the character concept; the collected Heroic Events of the player characters taken together form a kind of thematic declaration, a virtual trailer for the upcoming campaign.
    %p
      Mechanically the heroic event is significant in that it determines the character’s first Ability: the player chooses a suitable Ability that reflects the heroic event and sets it at a rank of
      = succeed "." do
        %code Expert (2)
      Thus the heroic event hints at the strengths of the character.
    %p Although all characters start with the same Ability ranks, this does not mean that they have to be exactly as “strong” in the setting fiction: a king and a little girl both start as “experts”, but what that rank means in the fiction is a matter of context. The rank merely depicts the “story weight” of each Ability, which is equal for all characters at the beginning of the campaign.
    %p Likewise, the Heroic Event does not have to be in the character’s past; the player may equally declare that the event is foreshadowing for the upcoming campaign or even just a dream the character hopes to achieve one day.
    %p Players are free to first figure out the “best Ability” for a character and then narrate a Heroic Event on that basis, if that feels more natural. Narrating the event should not be skipped altogether, though, as it is useful in establishing background and context for the character.
    %aside.well.variant
      %h2#variant_greater_heroes Variant: Greater Heroes
      %p
        The group may decide to start with varied character power levels by rating each character’s Heroic Event based on its significance as either
        = succeed "," do
          %code personal (1)
        %code communal (2)
        or
        = succeed "," do
          %code universal (3)
        depending on whether the events affects only the character’s immediate family, his community, or the whole setting — the heroic Ability rank follows the significance of the event, so different characters get different Ability levels.
      %p
        This variant is appropriate if the players truly wish to play characters in different stages of dramatic growth; the decision does not affect character competence in the fiction so much as their Ability to resolve conflicts and progress towards Transcendence: a more powerful character is less constrained and pressured by the setting and more responsible for his own choices. A probably result of the variant is that characters reach
        %code
          %a{:href => "#transcendence"} Transcendence
        at widely differing times, which provides different opportunities and challenges for the campaign as a whole.
      %p When using this variant, set Background Abilities at one rank below the Heroic Ability and Cultural Abilities still another rank down.
  %section#character_background
    %header
      %h2 Character Background
    %aside.well.span5
      %h3#example_character_backgrounds Example Character Backgrounds
      %ul
        %li After his bar exam the young man was hired by a multinational. Growing disillusioned with the corporate world he left everything to travel the world with his dog, seeking dharma.
        %li Growing up in a consulate on an alien planet prepared her for the war. She went to the academy at 12 years and won her first battle at 16. At 20 she’s a crippled, bitter veteran.
        %li A barbarian child is orphaned and enslaved by eastern conquerors. Later on he escapes and becomes a thief, pirate and brigand, living by his wit and thews amongst men more civilized than he.
    %p
      While the Heroic Event is a simple idea or a quickly flashed scene,
      %code Character Background
      is a more comprehensive narration. The player describes his character’s general lifestyle and the high points of his life in a couple of sentences. The goal is to build upon the Heroic Event and explain why, how and who got into that particular situation described earlier.
    %p
      All Solar System characters are dramatic in that they have a
      = succeed ";" do
        %em history
      the character might be young, but that just casts his short life-story into greater emphasis as the few events gain in weight. Likewise, an old and experienced character still has high points to his life that, from the viewpoint of the present, can be considered formative and important. The character background is an opportunity for the player to shortly outline what kind of nature the character will have in the game, based on the choices and experiences the character has from his past.
    %p
      Mechanically the character background determines three Abilities at
      = succeed ":" do
        %code Competent (1)
      the player chooses Abilities that represent the significant phases and experiences of the character’s life.
    %p Players may wish to first simply choose three appropriate Abilities and then figure out the kind of background that fits with them. This is all good, as long as the background is found entertaining and sensible.

    %aside.well.variant
      %h2#variant_experienced_characters Variant: Experienced Characters
      %p The group may decide to differentiate between more and less experienced characters by estimating how eventful a character’s background is: the player defines one background Ability for each separate phase or facet of life described in the background, so that each character begins with 1-5 background Abilities, depending on how accomplished or long a life he has led.
      %p This variant means that characters will differ greatly in how flexible they are in their endeavors, which might be interesting if the group wants to front-load character development: less experienced characters are not significantly less able to overcome challenges, but they develop differently from widely experienced ones: a more experienced character will have more leeway in choosing different paths during the campaign, while an inexperienced character is encouraged to stick with what they already know.
  %section#cultural_identity
    %header
      %h2 Cultural Identity
    %aside.well.span6
      %h3#example_cultural_identities Example Cultural Identities
      %ul
        %li Modern Finns typically know how to ski, skate, use computers and speak English and some Swedish. They have a Western humanistic value set with a Lutheran religious background. All men possess basic martial skills from mandatory military service and tend to have basic wilderness skills as well. Proficiency in native cultural skills is valued due to a deep-rooted fear of cultural genocide.
        %li
          Women of the western kingdom of Merona are prohibited from working outside their homes or learning to read. They are expected to be learned in religious matters and homekeeping crafts, including healing arts, which are considered effeminate by the manfolk. Many also secretly hold magics forbidden by men as a relic of the old religion.
    %p
      When the Heroic Event Character Background are defined, the array of Abilities is finished by describing the character’s
      = succeed ":" do
        %code Cultural Identity
      what nation, gender, race, religion, guild or caste are his by birthright or choice? Most of this should already be obvious from the previous steps, so this is just detail work.
    %p
      All Solar System characters are defined somewhat in terms of
      = succeed "," do
        %em culture
      which the identity is all about: the character should not be a homeless, fatherless pawn, but a being with values, beliefs, social ties and a whole range of peculiarities drawn from the particulars of the setting. The cultural identity is a wide array of elements that may be used later on to develop and define the character during the campaign.
    %p
      The Cultural Identity has little immediate mechanical impact: the player is encouraged to write down Abilities central to the character’s cultural identity, all at
      = succeed "." do
        %code Mediocre (0)
      Later the player may choose to develop these Abilities further, but for now they are mostly to remind of where the character comes from and what is his birthright.
    %p
      It is notable that not all
      %code Mediocre (0)
      Abilities need to be written down, as characters are always assumed to possess a wide range of common (for the setting, anyway) Abilities, all at
      %code Mediocre
      unless otherwise specified. however, in all settings there exist more exclusive Abilities not everybody is assumed to know or even be aware of; it is good for the player to write down such Abilities for his character, as they define and describe his cultural identity. For example, most people today do not learn anything of horses or horseback riding as part of their everyday experience. A character born to a ranch might, however, be a
      %code Mediocre (0)
      rider simply by virtue of his childhood experiences. Whatever makes most sense for the group is good.
  %section#passive_abilities
    %header
      %h2 Passive Abilities
    %aside.span6.well
      %h2#the_default_passive_abilities The Default Passive Abilities
      %dl
        %dt#endure_v Endure (V)
        %dd The character’s capability for enduring physical pain and fatigue, whether caused by climate, injury or great exertion.
        %dt#react_i React (I)
        %dd The character’s ability of thinking and acting quickly and clearly, as useful for seizing initiative as noticing hidden things.
        %dt#resist_r Resist (R)
        %dd The character’s strength of will and resolve in the face of adversity, stress or social pressure alike.
    %p
      After all other Abilities are jotted down, it is a good moment to define three special Abilities, the
      = succeed ":" do
        %code Passive Abilities
      these Abilities differ from others in that every character possesses them by virtue of their humanity. All three —
      = succeed "," do
        %code Endure (V)
      %code React (I)
      and
      %code Resist (R)
      — are concerned with passive reactions to travails caused by outside forces for the character; they are essentially about protecting the character’s personal integrity in some manner.
    %p
      A beginning character gets one Passive Ability at
      = succeed "," do
        %code Expert (2)
      one at
      %code Competent (1)
      and one at
      = succeed "," do
        %code Mediocre (0)
      as chosen by the player. Typically the order of preference is rather obvious at this point, as the player already has a firm image of the character, his strengths and weaknesses in mind.
  %section#dividing_pools
    %header
      %h2 Dividing Pools
    %p
      All characters have, in addition to their array of Abilities, three
      %code Pools
      which depict their reserves of strength. The Pools are
      = succeed "," do
        %code Vigor
      %code Instinct
      and
      = succeed "," do
        %code Reason
      each associated with various Abilities as depicted earlier: it’s usual to write any Ability names with a shorthand reference to the Pool associated with the Ability. It is easy to notice, for example, that the Passive Abilities introduced above each associate with one of the Pools.
    %p
      Characters may spend Pool points in Ability checks for
      %a{:href => "#bonus_and_penalty_dice"} bonus dice
      that improve their chances of overcoming challenges, while Pools may be renewed during separate
      = succeed "." do
        %a{:href => "#pool_refreshment"} refreshment scenes
      Although the individual Pools do not need to formally limit the nature of the character, some typical associations are as follows:
    %dl.well
      %dt#vigor Vigor
      %dd A character with low Vigor might be sickly or small, while a character with many Vigor points is healthy and energetic. Abilities concerned with using your body and acting with strength are usually associated with Vigor.
      %dt#instinct Instinct
      %dd A character with low Instinct could be just clumsy, while high Instinct might signify attractiveness or keen senses. Abilities concerned with quick and exact action or sensitiveness in social realm are usually associated with Reason.
      %dt#reason Reason
      %dd A character with low Reason is easily swayed or ignorant, while strong Reason hints at leadership potential. Abilities concerned with knowledge or other mental powers are usually associated with Reason.
    %p At character creation each character receives 10 points to be distributed between the three Pools. All Pools have to have at least one point, but otherwise the player may determine the distribution freely. The Pools are full at the beginning of the game.
    %aside.well.variant
      %h2#variant_different_pools Variant: Different Pools
      %p While the default Pools work well for most kinds of adventure settings, experienced players might wish to try something new by redefining the Pools, especially if the setting at hand assigns little significance to physical vigor, say.
      %p New Pools should also have associated Passive Abilities, refreshment conditions (see page 24) and width enough to associate with many different Abilities. Pools by their nature focus and structure the types of interaction in the campaign rather strongly.
      %p The following are some examples of different Pools that might be considered for certain types of campaigns:
      %ul
        %li
          %code Wealth
          could be a pool associated with certain social and knowledge skills, Abilities representing access to special equipment or anything else obtainable with money, really. Suitable for a game about stratified society, certainly.
        %li
          %code Blood
          could represent vampiric prowess in a game centered around vampires. While humans wouldn’t possess the pool, a vampire could use it to power their vampiric nature and powers, refilling by the obvious means.
        %li
          %code Self
          could be a catch-all Pool for most of what the three default Pools represent. It would work well for emphasizing the separation between individual and social nature, especially paired with a
          %code Society
          Pool or perhaps Wealth, above.
        %li
          %code Mana
          could work well to represent magical might in a high fantasy campaign in the post-Tolkein tradition. Many novelists in this style presume a generic magical force akin to physical phenomenon, shared by all sorts of supernatural phenomena from shapeshifting animals to wizards. Mana could then power all those sorts of Abilities.
      %p
        Usually all characters should have the same Pools, but sometimes a character is so fundamentally different than others that he does not. A machine-intelligence might have just
        %code Fuel
        as the only Pool that associates with all of its Abilities, for example.
  %section#choosing_secrets_and_keys
    %header
      %h2 Choosing Secrets and Keys
    %p
      The next step in character creation is to simply choose one
      %code Secret
      and one
      %code Key
      for the character. As these are both major concepts in the Solar System, it is best to introduce each in their own chapter, in
      %a{:href => "#keys_and_experience"} Keys and Experience
      and
      %a{:href => "#secrets_and_crunch"} Secrets and Crunch
      respectively. For character creation purposes it is enough to say that all characters may have one of each type of benefit to begin with.
  %section#finalizing_the_character
    %header
      %h2 finalizing the character
    %p The last step of character creation is a matter of overview: is the character interesting enough to star in a movie? Does he have potential for great conflict? Do you know what he is about, what his purpose in the forthcoming campaign is? Are the other players interested in the character as a protagonist? Change anything from the last steps to make the character better at this point.
    %p
      As a part of this process the players may distribute five
      %code Advances
      among the Abilities, Pools, Secrets and Keys of the character. Advances are a currency of character development more thoroughly explained in
      = succeed "," do
        %a{:href => "#gaining_and_using_advances"} Gaining and Using Advances
      wherein you’ll also find out what those five Advances will buy. This is an excellent opportunity for giving mechanical weight to the most interesting facets of the character, whether Keys, Secrets or Abilities. Alternatively, the player might opt to save some Advances for later and spend them in play instead.
    %aside.well.variant
      %h2#variant_more_advances Variant: More Advances
      %p An obvious variation is to start new characters with more Advances. This should not be done, however, just from a perceived need for character competence: default beginning characters are easily competent enough for most purposes.
      %p Likewise, new characters need not be brought up to match with more experienced characters when players join the group in mid-campaign. Characters in the Solar System need not start or stay on the same level of advancement with each other.
      %p A good reason for a more experienced group to start characters with more Advances might be for purposes of pure media emulation: if the group plays a game set in the Middle-Earth and genuinely want a player to play Gandalf the wizard, then the wise course is to set Gandalf up with whatever Abilities, Secrets and Keys he needs to perform. The same holds true for other characters drawn from existing fiction: such characters are already familiar to the players and therefore do not suffer from dilution of significance associated with loading a newly created character with too many Advances.
  %section#initial_situation
    %header
      %h2 Initial Situation
    %p After all characters are more or less finished (or earlier, for that matter, if inspiration strikes), the group needs to bring it all together for play. There is a checklist of questions the players might wish to use for this purpose:
    %ul
      %li Did the character background include interesting secondary characters? Family? Friends? Colleagues? Should some be developed? Is it OK if the Story Guide just invents some later?
      %li Does the character already have a relationship with any of the other player characters?
      %li Where does the character live? What does he do? Does he even have a current routine, or is he in some kind of trouble? Do you want to develop such trouble, or is it OK for the Story Guide to kick the story in gear with a dramatic incident.
    %p
      Most of these details are probably already obvious from character generation, but that last one warrants further thought: the choice facing the player is whether his character is already
      %code at rest
      when play begins or if he is
      = succeed "." do
        %code already moving
      The difference is in whether the Story Guide should kick the character into action or whether the player wants to do it himself.
    %p A player may decide that his character is at rest when the game begins because he wants the Story Guide to surprise him. It’s also possible that nothing particularly compelling came up in character creation to destabilize the character’s life. Either way, it is left up to the Story Guide to surprise and disrupt the character’s routine existence.
    %aside.well
      %h3#examples_at_rest Examples At Rest
      %ul
        %li The courtesan of the king has to prevaricate a bit now and then, but overall the life is pretty routine as long as the monarch is a decent person.
        %li The snake-oil salesman goes into towns, sells his stuff and moves on soon enough. Straightforward and even boring for the most part.
        %li Being a middle-class housewife is not that interesting per se, even if you used to be a secret agent. Every day is its own reward.
    %p On the other hand, it is quite possible that a character is “already moving” at the beginning of play, should the backstory and setting point that way. If the character developed into somebody who’s on the run from imperial officers in a distant and strange land, it’s quite conceivable that the player can’t answer questions about the character’s everyday life and what he’s probably doing as the game begins — he is already living in a crisis situation where nobody could say what happens next.
    %aside.well
      %h3#examples_already_moving Examples Already Moving
      %ul
        %li Firebombing the General Governor’s office made this political activist the most sought after criminal in the state. Right now he’s looking for a place to hide.
        %li Yesterday you saw her again at the subway station after 10 years, but she was gone before you got through the crowd.
        %li Great power, great responsibility, that stuff…You never took it seriously, except now your uncle is dead because of your own negligence, like karma dropped on him.
    %p Often enough players have a certain story in mind when they create a character. Starting the game in the middle of that story is a surefire way to get to play it! The player has more control here as regards the initial situation of the game, which might serve some players rather well.
    %p
      It should be noted that the choice between starting
      %code at rest
      or
      %code already moving
      is not over whether exciting things will happen to the character or not — the choice is merely over whether the player or the Story Guide determines how the life of the character goes out of whack.
  %section#player_character_party
    %header
      %h2 Player character party
    %p
      Historically, roleplaying games use what is known as the “party structure”: player characters either already know each other or come together during the first session and thereafter form a party, like the Fellowship of the ring in the
      = succeed "." do
        %code Lord of the Rings
      All players in the group cooperate to make this happen, creating their characters into persons who need the other characters and want to follow the group around. This is rather an entrenched convention, not the least because roleplayers find it useful for plying their craft:
    %ul
      %li Playacting interaction scenes is fun! If your guy and my guy are in the scene together, they can talk to each other. It’s not nearly as fun to always talk with secondary characters which nobody might be interested in as much.
      %li If our characters are together, then we both get to be in a scene whenever one of us is. Therefore, we get to be in play more and have to wait less for others to get their turns.
      %li Our characters are the most important ones, so deepening their mutual interaction makes for quicker and deeper dramatic action.
    %p You can use a party in the Solar System as well if you want, just discuss it with the rest of the group and set the characters up to have an overriding common concern that keeps them together.
    %p
      However, also consider the alternative: Solar System is very well suited for individual characters who each have their own, completely individual goals and pathways through the campaign setting. A friend recently called this style of play
      = succeed "," do
        %code weave play
      as the Story Guide needs to weave the stories of the characters together without the characters themselves being a team. There are several benefits to weave play as well:
    %ul
      %li I don’t need to play my character softly and compromise his character integrity for the group to stick together; if he feels like he’d rather betray the union and side with the confederates, I can have him do just that.
      %li Our characters can be on different sides in the story; one might even be a villain. This does not even preclude getting to interact a lot; pulp heroes have plenty of opportunities for meeting their enemies over tea before racing them over life and death in the savage jungle.
      %li We get to see the game setting from different sides and lots of viewpoints. Each player gets to be committed audience for the exploits of other characters, which means everybody is rested and ready to go when their own turn in the spotlight rolls around.
    %p
      The secret to
      %em not
      having a party is in being interested in the characters of other players, just like if their stories were a movie and you the audience. If you’re only interested in getting to play your own character, then of course you’ll find play dull if everybody needs to take turns; but if you follow the fates of the other characters as well, offering advice and commenting on their foibles, you’ll find that being in the audience can be a nice change of pace with no responsibility for a while. This and other techniques of play are discoursed upon in
      = succeed "." do
        %a{:href => "#playing_the_game"} Playing the Game
    %p
      Furthermore, once the game begins, whether there is a party or not, the characters do not necessarily have to stay with it — or they might form a party without advance planning! There are lots of shades of gray between completely party-focused play and every character being an individual. Even if there is a party, be sure that the Story Guide will focus on each character’s personal interests separately, as that’s his job. And not only that, but if there
      %em isn’t
      a party, the Story Guide will work to have the characters affect each other in different ways regardless.
  %section#character_creation_summary
    %header
      %h2 Character Creation Summary
    %ul.center
      %li
        Determine the
        %code Heroic Event
        and set one ability at
        = succeed "." do
          %code Expert (2)
      %li
        Determine
        %code Character Background
        and set three Abilities at
        = succeed "." do
          %code Competent (1)
      %li
        Describe
        %code Cultural Identity
        and set any other pertinent Abilities at
        = succeed "." do
          %code Mediocre (0)
      %li
        Set the
        %code Passive Abilities
        to
        = succeed "," do
          %code Expert (2)
        %code Competent (1)
        and
        = succeed "." do
          %code Mediocre (0)
      %li
        Distribute 10 points between the three
        %code Pools
        of
        = succeed "," do
          %code Vigor
        %code Instinct
        and
        = succeed "." do
          %code Reason
      %li
        Choose one
        = succeed "." do
          %code Secret
      %li
        Choose one
        = succeed "." do
          %code Key
      %li
        Finalize the character by distributing 5
        %code Advances
        freely.
      %li Develop the initial situation with the group and go play!
    %p
      Alternatively, mix and match the steps to arrive in a character creation method that works for you. Some people want to develop the
      %code character concept
      fully and then make the mechanical choices to fit the concept, for example. The character creation procedure is broken down into steps to make the process easier, so anything that works for you to create better characters is good, as well.
