%section#foreword.chapter
  %header#book-header
    %img.center{:alt => "Solar System", :height => "210", :src => "img/sslogolarge.png", :title => "", :width => "500"}/
  %section#license.well
    %p
      This SRD, as well as all linked variations on the Solar System Logo, are licensed under a
      = succeed "." do
        %a{:href => "http://creativecommons.org/licenses/by/3.0/", :rel => "license"} Creative Commons Attribution 3.0 Unported License
      The text was extracted, edited and adapted by
      = succeed "," do
        %a{:href => "http://www.nicknovitski.com"} Nick Novitski
      but remains a shamelessly worshipful copy of
      = succeed "," do
        %a{:href => "http://www.arkenstonepublishing.net/solarsystem", :rel => "dct:source"} Solar System, &copy; Arkenstone Press 2008
      which was itself derived from
      = succeed "." do
        %a{:href => "http://crngames.com/the-shadow-of-yesterday/"} The Shadow of Yesterday, &copy; Clinton R. Nixon 2005
  %h2 What is Solar System like?
  %p
    %code Solar System
    is a rules set for heroic tales and fantastic drama, akin to movies. The protagonist characters are important and colorful, striking deep into the issues of the game setting. Unlikely things happen to them, leading to exciting adventure and heartfelt dramatic situations.
  %p The rules of the game emphasize character growth and change; all Solar System stories are to a degree growth stories where the protagonist seeks for and finds a place for himself in the world, often changing it in the process. The players get to make choices over not only what their protagonists do to choices over not only what their protagonists do to the story, but also what they become as a result.
  %p Due to the sinuous nature of the growth story, Solar System games are most often played in the form of campaign narratives — series of meet-ups wherein the players develop a multi-faceted story with minor meanderings and build-up to crucial turning points for the overall campaign. Most typically the group of players participating in the campaign consists of a handful of players: three at minimum and six at most are recommended.
  %p
    One of the players is called the
    = succeed "," do
      %code Story Guide
    which is most like the traditional roleplaying authority role of the Game Master. The Story Guide has the responsibility of playing the supporting roles in the grand narrative the group creates — often enough that means directing the various antagonist forces arrayed against the heroes of the piece, as the Story Guide seeks to give rise to growth opportunities for the heroes.
  %p
    The other players, meanwhile, each adopt a heroic protagonist, the
    = succeed "," do
      %code Player Character
    as their medium of input into the campaign. Players express the thoughts and deeds of these most significant individuals for their own enjoyment and that of the rest of the group. Furthermore, the players have an opportunity to mould the course of the grand narrative with the choices their characters make for good or ill of their fictional self, comrades and the world.
  %h2 Also, what is roleplaying?
  %p Should the reader match the description of that increasingly elusive beast, the first-time roleplayer, then a most hearty welcome to you! Roleplaying is one damn fine hobby, if I may say so, providing this our age with some badly needed respite from the everyday humdrum, and perhaps even more seductively, an opportunity for creativity in a world where art is more and more marked out as the territory of professionals only. A hobby and pastime that facilitates creation of fine, entertaining art with your friends is an excellent one indeed!
  %p While the sampled example of roleplaying offered on the facing page is certain to illuminate the reader as to the general points of roleplaying, much more instruction and even personalized advice is available on the Internet. Being attentive to this booklet and looking for additional information from other sources is sure to fill in most gaps in your knowledge. Like any new hobby, often the best way to get familiar with roleplaying is to find a local hobby group or club and participate!
  -# TODO: take out reference to 'facing page'
