%section#playing-the-game.chapter
  %header
    %h1 Playing the Game
  %p When the players have worked out a setting and created characters, it’s time to start the actual game. It is possible that this could happen directly after character generation, but far more likely is that the group adjourns and reconvenes at another time to actually begin the campaign — much depends on how long the players take in agreeing upon a setting and creating their characters.
  %p Actual play of the campaign is organized into 2-4 hour sessions, played weekly or however often the players want to. Campaign length depends greatly on the players and the events of play, but a typical Solar System campaign takes anywhere from three to a dozen sessions. Often enough a long-term game group will also connect individual campaigns played in the same setting into longer arcs, but that is hardly required to experience the game in whole.
  %section#starting-up-the-session
    %header
      %h2 Starting up the session
    %p
      The Story Guide has a central role in starting a given session, as he is largely responsible for developing the
      %code situation
      encountered by the characters the other players run. Such a situation is always consistent with setting and character nature, interesting and flows well with what has gone before. This is probably the hardest part of being the Story Guide, but practice makes it easy.
    %p
      The issue of
      %a{:href => "/story-guide#preparing-for-play"} scenario preparation
      is handled in depth in
      = succeed "." do
        %a{:href => "/story-guide"} Story Guide
      For now it’s enough to note that the Story Guide is likely not flying blind when he starts the game. Even if the first game session follows directly after character creation, a lunch break or similar might be in order to allow the Story Guide to gather his thoughts.
    %p
      Assuming that the Story Guide is comfortable with his preparation for play, he will proceed to address the other players in turn, describing the situation the individual character is involved in. For the first session this starting point is heavily dependent upon the earlier discussion about whether the character is
      %code at rest
      or
      %code already moving
      when the game begins; further into the campaign the Story Guide will likely just recap the last session’s events to remind everybody where play was left off last time. Then it’s time for the first scene.
  %section#scenes
    %header
      %h2 Scenes
    %p
      The
      %code scene
      is a very useful concept in getting a handle on how play proceeds around the table in the
      = succeed "." do
        %code Solar System
      All the players have their own characters who are of course important, but not everybody can have attention at the same time. Whose story does the game follow from moment to moment?
    %p
      The typical solution to arranging the content of play is to loan some terminology from film making. The Story Guide
      %code frames the scene
      when he describes where a player character is and what is happening around there. A character might be in the scene or not, as not all characters are together all the time. A player might
      %code cut the scene
      when everything interesting in the situation has been resolved and the group wants to move on.
    %p Different groups and different campaigns will have their own ways of doing things, but it is typical for the Story Guide to frame scenes in turn for each player character so as to allow each an opportunity for participation. Play of scenes might proceed in order around the table, or scenes might be framed when an interesting idea for such is thought up. Sometimes characters appear in scenes together and they might even end up primarily interacting with each other rather than the setting — it all works as long as the characters all get attention.
  %section#tasks-in-free-play
    %header
      %h2 Tasks in free play
    %p So, the Story Guide sets up that first scene, establishing a situation for the player character. He might be minding his own business all peaceful-like, but now something interesting and noteworthy happens.
    %p
      What goes on next is
      = succeed "," do
        %code free play
      simply put: players with characters in the scene describe what their characters do or think, the Story Guide plays any secondary characters, other players offer opinions and suggestions on the goings-on. The players might act out dialogue for their characters and so on.
    %aside.well
      %h2#narration-in-free-play Narration in free play
      %p
        Players are constantly adding to the shared fiction when playing. Each player decides what his character does, while the Story Guide decides how the rest of the setting and secondary characters act. Even while every decision is in principle made by some particular player, it’s important to foster a culture of openness: everybody has a voice and may make suggestions, nobody is put on the spot without his friends being there to offer ideas and suggestions.
        %em Ideas
        are free-for-all, even while
        %em choices
        are made by each player independently.
      %p
        The Story Guide has
        = succeed ":" do
          %code
            %a{:href => "/story-guide#backstory-authority"} backstory authority
        he can decide what happened before the player characters got to the scene at all. If there is a disagreement over who gets to decide something, it’s probably either a conflict or a backstory authority issue.
    %p Groups differ greatly in how much free play they prefer, and a single campaign will also have different stages in this regard. Usually a scene might have anywhere from one minute to a quarter hour of free play before the players move on.
    %p
      The players and the Story Guide each have a job to do in free play. Here’s what you are doing as the
      = succeed ":" do
        %code Story Guide
    %ul
      %li Look at the characters: what is their deal, why are they in the campaign? Look at their Keys and Secrets to find out. Frame scenes that prod the characters where it matters.
      %li Play secondary characters who interact with the player characters; use them to influence the characters in different ways, but remember to leave the players room to respond as they wish.
      %li
        Keep an eye on what is going on: if the scene has potential for
        = succeed "," do
          %code conflict
        drive to that direction. Otherwise be the chairman and remind the others to concentrate on the scene; cut the scene when the interesting content has been dealt with.
    %p
      The rest of the players either have their characters involved in the scene or not.
      %code Character players
      have an important job:
    %ul
      %li
        %code Advocate
        for your character by making choices for him; think and feel the character and, therefore, decide how he would act in a given situation. Be fair and impartial towards the other players and the rules of the game, but let your character be ruthless in expressing his own nature in the fiction.
      %li
        %code Express
        the character for the other players, make him interesting and sympathetic. You might employ description of his actions, dialogue or even internal monologue in depicting how and why the character acts and thinks.
    %p#audience
      Finally, the rest of the players are
      = succeed "." do
        %code Audience
      It’s an easy job, but important nonetheless, and omitted at your own peril.
    %ul
      %li Do not ignore what is going on when your character is not in the scene! Lean forward, smile, nod, laugh at entertaining bits and in general make it worthwhile for your friends to play.
      %li
        Comment on the events and offer suggestions for what might happen or what things might mean.
        %code Judge
        the events and the other characters — cheer for the heroes, boo at the villains.
      %li Relax and unwind for the couple of minutes it takes for your next scene to come around, so you can play your own character intensely when the moment comes.
    %p
      The goal of free play, apart from enjoying the characters, situation and the setting, is for player characters to passionately drive towards their goals while the Story Guide problematizes these choices by introducing uncertainties and ethical conundrums. The actual matter of play is generated from the
      %em interaction
      of the characters with the
      %em situations
      they end up in. Such interaction comes in roughly two forms,
      %code choices
      and
      = succeed "." do
        %code conflicts
  %section#choice-as-content
    %header
      %h2 Choice as content
    %p A player character, as an imaginary person, will have convictions and beliefs he will strive to fulfill. We, as an audience, are interest in what those choices might be — drama is created when the character judges a situation and acts upon his understanding. The role of the player is to express and advocate for the character, depicting the thoughts and deeds of the protagonist to the rest of the group, his audience.
    %p Often enough much of the content of play consists of events that prepare a character for making a choice he would not have been ready for earlier: the Story Guide strives to set up situations that problematize the values of the character and introduce different viewpoints on the matter of play. Thus, the choice might well extend into several scenes worth of development as characters explore their options.
    %p
      %code> Keys
      , as described in depth in
      = succeed "," do
        %a{:href => "/keys-and-experience"} Keys and Experience
      play an important role here, as they reveal how the player views his character and mechanically reward him for certain choices over others. The Story Guide simplifies his job immensely by directing the choices he presents in the fiction towards the Keys of the character: will the character do this sort of thing if that’s what his Keys require? Which Key will he choose when he has to choose between two? Will he get rid of a Key that leads towards corruption?
  %section#conflicts
    %header
      %h2 Conflicts
    %p Choice leads to conflict; sometimes immediately, sometimes later on. Conflict play is a very elaborate part of Solar System, which is an action rules set at heart: often loving attention is heaped on descriptions of exciting chases, tense arguments or deadly duels, which are some examples of conflict between characters in play.
    %p
      When player characters end up in conflict with each other or secondary characters, the Story Guide may invoke the conflict rules, which are described in great detail in
      = succeed "." do
        %a{:href => "/conflict-resolution"} Conflict Resolution
      Generally speaking, conflicts are a matter of great stress, tear and wear for characters: they burn up their resources, especially their Pools, which are depleted in conflict. Abilities play a dominant role in resolving who gets their way in conflict situations, but willingness to sacrifice progressively more drastic resources often ultimately decides the conflict.
    %p
      Although it might seem that way, players are not actually disagreeing when their characters go into conflict; the characters might be passionate about how they’d like a situation to be resolved, and the players might well sympathize, but ultimately everybody is there for cooperative entertainment — the task of each player is to not compromise the interests of their characters, but this does not mean that the players themselves are trying to make each other fail somehow. The relationship between the player and the character might be most comprehensively described as one of
      = succeed "." do
        %code advocation
  %section#consequences
    %header
      %h2 Consequences
    %p Choices and conflicts both have consequences, which means that they direct play towards new scenes. Sometimes characters choose not to follow up on an opportunity, sometimes they irrevocably lose what they had; often new opportunities are opened by choices and conflicts as well.
    %p
      This continuity provides much of the structure for ongoing play in the Solar System: scenes follow each other as sensible consequence from previous events. Play might jump back and forth between different locations and characters as different player characters are followed, but even then the Story Guide makes an effort to provide connections. More advice on tying scenes together is provided in
      = succeed "." do
        %a{:href => "/story-guide#framing-scenes"} Framing Scenes
    %p An important consideration is that there is no one player who determines how consequences play out and where the next scene leads play. While the Story Guide has the task of framing new scenes, continuity of consequence and character choice provides the array of possibilities. Usually character intent as depicted by the player provides more of a determining agent for the direction of play than the Story Guide ever should.
    %h3#experience Experience
    %p
      As
      %a{:href => "/keys-and-experience#gaining-and-using-advances"} described
      in
      = succeed "," do
        %a{:href => "/keys-and-experience"} Keys and Experience
      the most important long-term consequence of the events of play are
      %code experience points
      that characters collect by participating in events relevant to their own identity. In the long term experience may change a character’s identity or increase his ability to influence the world around him; ultimately it leads to
      = succeed "," do
        %code Transcendence
      the end of an individual character’s story.
    %h3 Harm
    %p Another basic consequence is negative: characters making the wrong choices or losing dangerous conflicts are in danger of suffering Harm, which reduces their immediate efficiency and may ultimately threaten death or other nasty and permanent ends. Essentially, a character’s story may end prematurely for a character who decides to risk it all.
    %h3#secondary-characters-react Secondary characters react
    %p Unlike the above, this sort of consequence, while very generic, concerns only the fiction: support characters always have opinions on the deeds of the player characters, so the Story Guide should make sure that whatever the player characters do, there are secondary characters reacting to it in different ways: some will come to depend on the player character, some to resist him. Thus the storyline progresses with little effort.
  %section#pool-refreshment
    %header
      %h2 Pool Refreshment
    %p
      As intimated above, conflicts are pretty hard on poor player characters — they get beaten around and have to spend Pool points to succeed in getting their desires, especially at the beginning stages of their stories. What such a weakened character needs is a
      = succeed "," do
        %code Pool refreshment
      which is to say, he needs to get some rest!
    %p Characters refresh their Pools by relaxing and letting their guard down, simply enough. Drama-wise this is an opportunity for a slow point in the action, as a suitable refreshment scene is not about struggle or action at all. Rather, it is an opportunity for developing character and looking for new directions to take the campaign.
    %p Individual Pools are refreshed in slightly different conditions, like this:
    %table#refresh-conditions.table.table-bordered
      %thead
        %tr
          %th Pool
          %th Refreshed by...
      %tbody
        %tr
          %td
            %code Vigor
          %td Physical exertion with another character, such as hard partying, martial arts, sparring, massage or doing drugs, as long as its for the purpose of enjoyment
        %tr
          %td
            %code Instinct
          %td Acts of social pleasure with others, such as a cocktail party, going on a date, gambling or other pleasurable pastimes.
        %tr
          %td
            %code Reason
          %td Intellectually stimulating interaction, such as poetry recital, a late-night philosophical debate or a chess match.
    %p As can be seen, a character pretty much has to interact with others to refresh himself. This is intentional — such situations are great for introducing new secondary characters or other human interest. Likewise it’s clear that the same activities might well refresh several Pools at once, which is just dandy.
    %p When a player wants a refresh for his character, there are essentially two situations: either the character is already well positioned with his friends at hand and a mutually acceptable pastime in mind, in which case the scene can just proceed normally, or the character might be at loose ends and explicitly going to look for a refreshment. In the latter case it’s up to the Story Guide to frame a refreshment scene and let the character make some friends.
    %p There are two specific narrative motifs that the Story Guide should consider when a refreshment scene arrives:
    %ul
      %li
        %p
          The refreshing character has his
          = succeed "," do
            %em guard down
          so the refreshment scene is a tacit permission to mess with the character's fate in unexpected ways.  If the player had his character go drinking in the bad part of town for his refreshment, say, it would be quite possible for him to make an error in judgment and end up in a compromising situation related to his current troubles; having a refreshment scene
          %em means
          doing some pretty foolish things.
      %li
        %p
          If the refreshing character has resolved most of his troubles and seems to be settling in comfortably, the Story Guide may well use a refresh scene to introduce
          = succeed ":" do
            %em new stories
          a refreshing character often ends up meeting, greeting and getting friendly with new secondary characters who may then get the character involved in something serious later on.  Whenever the current story matter seems to be running down, the Story Guide does well to introduce new material in refreshes - the stuff need not combust immediately, but it's useful to have some preaprations in place for when the character's current trouble is resolved once and for all.
  %section#harm
    %header
      %h2 Harm
    %p
      %code Harm
      is a very important concept related to conflicts, character capability and the overall story — a character with too much Harm is in danger of dying or getting removed from the game otherwise!
    %p
      All characters have a
      %code Harm track
      consisting of three
      %code Minor
      levels (1-3), two
      %code Major
      levels (4-5) and one
      %code Mortal
      level (6). (Check
      %a{:href => "pdf/ss-character-sheet.pdf"} the character sheet
      to see what it looks like!) When a character suffers a given level of Harm, the player crosses that level off and marks down the Pool related to the Harm. Each level causes penalty dice for the character: a Minor level causes the character to suffer one penalty die to his next Ability check; a Major level causes one penalty die to all Ability checks associated with the same Pool; a Mortal level Harm causes a penalty die to all Ability checks and forces the character to spend a point from the Pool associated with an Ability to use it at all.
    %p
      (I know that I haven’t discussed penalty dice yet at this point. They’re
      %a{:href => "/ability-check#bonus-and-penalty-dice"} explained in detail
      in
      = succeed "," do
        %a{:href => "/ability-check"} Ability Check
      but for now it’s enough to know that Harm makes it more difficult for the character to succeed in his endeavors.)
    %p As for the setting, Harm may represent any negative effects upon the character’s integrity. Physical bruises and wounds are typical in action stories, but mental anguish, doubt, shame, erosion of social stature or just losing face might be depicted by Harm. Ultimately this depends on the Pools used in the campaign, as each Harm is associated with one.
    %p Harm is obtained from fictional events: the Story Guide may declare that a given course of events will result in Harm for a character. This decision is always made before the Harm happens so as to allow the player to react and declare a conflict. Thus the Story Guide might warn a player that having his character fall from the cliff-side into the river will be cause for level 2 Harm, which information would then be available for the player when making an Ability check to climb up.
    %p
      An important special case is when a character suffers Harm of a level he already has marked earlier: in that case the Harm is bumped up one or more levels into the first empty slot. Another special case is when a character comes out of an extended conflict: all the Harm in the Harm tracker
      %code shakes down
      at that point, so that all the Harm the character received so far moves to fill any empty levels below their current level.
    %p
      The most common juncture for declaring Harm is in determining the
      %code stakes
      of a conflict, where it naturally belongs. Sometimes Harm comes first and the player might even decide to not contest the Harm, provided that the character is getting what he wants otherwise.
    %p Level of Harm caused by events in the fiction may range all over the place, from level 1 for minor annoyances to level 6 for going through something that would break a man. In conflict it is not atypical for Harm to be assigned asymmetrically to two sides: an unarmed man attacking one with a gun might threaten with just level 1 Harm while risking level 4 himself.
    %h3#healing-harm Healing Harm
    %p
      Harm is healed in two manners, by
      %code natural healing
      and Ability checks. The former is simple: the player needs to spend Pool appropriate to each level of Harm equal to the level to heal that Harm. This is mostly done between scenes. (If the character doesn’t have high enough Pools, the player may pay in parts and jot down the progress.)
    %p Healing by Ability check works by having a character make an appropriate Ability check (depending on the type of Harm and other conditions in the fiction) to heal the target: the healing removes a level of Harm equal to the result (or the highest level under the result); if all Harm is higher than the check, nothing is healed.
    %p Only one healing check may be made per scene, and a character may only be healed once with any given method per session. The Story Guide may encourage players to figure out new treatments and other story content when they want to heal a character with multiple healing checks in quick succession.
  %section#birds-eye-view
    %header
      %h2 Bird’s Eye view
    %table.table.table-bordered
      %caption A rough overview of the cycle of play
      %thead
      %tbody
        %tr
          %td Free Play
          %td Story Guide frames an interesting scene based upon what came before. The players participate in molding and interpreting the framed situation by the choices their characters make.
          %td
            Leads to
            %code Conflict
            or
            %code Consequences
        %tr
          %td Conflict
          %td Characters struggle for their interests, spending Pool and suffering Harm. Choose how much each character cares to suffer for his goals.
          %td
            Leads to
            %code Refreshment
            or
            %code Consequences
        %tr
          %td Refreshment
          %td Characters let their guard down, providing an opportunity for complications or entirely new plots. The refreshing Pools provide the characters with new resources.
          %td
            Leads to
            %code Free Play
        %tr
          %td Consequences
          %td Choices lead to consequences that modify further free play. Old scenes are cut and new ones framed when the immediate situation has been resolved. Characters gain experience points.
          %td
            Leads to
            %code Free Play
    %p Looking at the above description of the play process, an overview emerges: the Story Guide has the initiative in thrusting player characters into exciting situations in the story, wherein their choices then lead to consequences that dictate new scenes. Choices that lead to conflicts cause characters to suffer Pool expenditures and Harm, which in turn require refreshment scenes to overcome. The end result is a cycle of play where choice, conflict and refreshment scenes alternate in a flexible manner, depending on the choices each player makes. If all goes well and the players appreciate each other’s input, the end-result should be an exciting story-creation session!
    %p
      The following chapters provide the core rules material of the Solar System,
      %a{:href=>"/conflict-resolution"} the conflict rules
      that are used to resolve tense and uncertain situations that player characters often face. After that
      %a{:href => "/keys-and-experience"} the experience rules
      describe how characters change and develop as the result of play. Finally, in
      %a{:href => "/story-guide"} Story Guide
      there is some more concrete advice on how a session of play is arranged to satisfaction.
    %p Unless the reader is looking for a particular topic at this point, it’s probably best to continue directly to the next chapter which lays down the groundwork for how Abilities are used to resolve situations the player characters encounter in their adventures. Before trying to play the game it’s important for at least one player to have a firm grasp of how and why the Ability checks and conflict rules work as they do.
