%section#secrets-and-crunch.chapter
  %header
    %h1 Secrets and Crunch
  %p
    A central character benefit in the Solar System are
    = succeed "," do
      %code Secrets
    remarkable special qualities possessed by characters. A given Secret usually provides the character with extra competence or options related to their Ability use. Usually Secrets also require the character to spend Pool points to power them, further encouraging the Pool economy.
  %p
    Secrets are best explained via a series of examples. As can be seen, Secrets may allow characters to do things that people normally couldn’t. They are very setting-dependent, even similar things might be done in a different manner from setting to setting. For example, the
    %code
      %a{:rel=>"popover", :data=>{:title=>"Secret of Telepathy", :content=>"<p>The character masters the Memetic Coincidence and may communicate with others mentally. Long range communication or trying to communicate with strangers requires <code>Resist (R)</code> checks.</p><p><strong>Cost</strong>: 2 Reason per scene to activate"}}
        Secret of Telepathy
    would fit pretty well in spy-ops weird fiction or pulp stories, but not so well in superhero stories, where telepathy is, generally speaking, much more powerful. It wouldn’t of course fit at all if the setting didn’t include this manner of psionic powers. Also note the flavor explanation, “Memetic Coincidence”, which (along with the pertinent details of how telepathy works) may be replaced with the appropriate flavor for the setting.
  %p
    Secrets often modify the rules of the game for the character who possesses the Secret. It is also usual for the Secret to have some significance inside the setting — it’s not just a generic mechanical bonus for the character, but rather something explainable and defined within the setting. In the case of the
    = succeed "," do
      %code
        %a{:rel=>"popover", :data=>{:title=>"Secret of Training (Ability)", :content=>"The character has been formally schooled in the use of the chosen Ability. You may buy however many bonus dice you want with Pool points when using the Ability."}}
          Secret of Training
    for example, the mechanical effect is paired with the idea of formal training, thus giving the campaign using it one axis of separation for emphasizing the difference between the lucky amateur and formally competent. Which Abilities would be appropriate to be formally trained in this manner would, again, be a setting matter.
  %p
    Secrets do not always concern Pool expenditures; they might be purely about character capabilities. The
    %code
      %a{:rel=>"popover", :data=>{:title=>"Secret of Literacy", :content=>"The character knows how to read and write any languages he speaks. Any conflicts related to literacy are resolved with appropriate language Abilities."}}
        Secret of Literacy
    would be appropriate for a primitive fantasy setting where literacy might be an interesting game issue, but not enough so to warrant an entire Ability devoted to it. The last sentence of the Secret description may well be ignored for settings where linguistic issues are not actually a matter of conflict at all; in many cinematic settings language issues are actively ignored in preference to weightier matters. The reader has probably noticed this in how Hollywood movie heroes never seem to encounter people who don’t know English when they go to Cairo.
  %p
    Secrets may have special requirements for when a character may have them or when they can be used. Secret descriptions favor implicit rules implementation and simplicity of description, which means that the advanced implementations of a Secret are not necessarily spelled out in its text. For example, in the case of the
    = succeed "," do
      %code
        %a{:rel=>"popover", :data=>{:title=>"Secret of Pyrokinesis", :content=>"<p>A character’s psionic abilities overflow the Memetic Plane, causing crude physical phenomena. The character may set flammable materials on fire with <code>Resist (R)</code> checks, but only when the <code>Secret of Telepathy</code> has already been activated.</p><p><strong>Cost</strong>: 1 Reason per scene to activate, 1 Vigor per Ability check to burn things.</p><p><strong>Requirements</strong>: Secret of Telepathy</p>"}}
          Secret of Pyrokinesis
    it could be used by the character against hard-to-burn materials with circumstance penalties, although that has not been explicitly stated. Likewise, the Story Guide would be very likely to set Harm as part of a conflict where a pyrokinetic threatened to set another character in fire. In general, any new uses of Abilities defined by Secrets work by the same rules normal Ability checks do.
  %section#learning-secrets
    %header
      %h2 Learning Secrets
    %p
      The concept of character advancement is very important in the Solar System, and nowhere as much as with Secrets. While Secrets are not mandatory for a character to transcend, they certainly often are when a character wants to make something of himself. As the experience rules have it, a character can’t get the
      %code
        %a{:rel=>"popover", :data=>{:title=>"Secret of Nobility", :content=>"The character gains a bonus die to any interactions with other nobles. His blue blood also allows him access to further privileged crunch presumably detailed in other campaign materials."}}
          Secret of Nobility
      by just declaring it to be so and paying an Advance for it; rather the character would have to somehow get to be part of the noble class in play, details depending on the setting. For some settings this might even be impossible or nearly so: in the modern era, for instance, especially the highest echelons of traditional European nobility are judicially closed to new entrants.
    %p In general, each Secret should only be introduced into play with a firm understanding of the context it has in the setting: where does it come from? Who knows it? How is it transmitted? The answers to these questions are instant fuel for certain sorts of campaign as characters strive to conquer the Secrets they need.
  %section#developing-new-secrets
    %header
      %h2 Developing new Secrets
    %p
      This text includes
      %a{:href => "/appendices#example-secrets"} a small list of generic Secrets
      easily adapted to specific settings. They can also be used as a baseline for what might be appropriate in terms of character empowerment for the typical adventure fiction settings. While usable as mechanical inspiration, though, putting this array of Secrets into use without winnowing leads to a somewhat colorless game.
    %p
      All Solar System campaigns are generally predicated upon the group developing their own Secrets in step with their developing understanding of the setting at hand. A ready-made setting such as
      %code The Shadow of Yesterday
      will include dozens of appropriate Secrets and whole sub-systems accessed via the Secret system, but even then the group is presumed to let their understanding of the setting determine what kind of Secrets they let their characters have, not the other way around.
    %p New Secrets are easy to create by modeling them upon the samples in this book and the many hundreds of examples available on the Internet.
    %p Generally speaking, the following are some of the baseline effects a Secret might typically have:
    %ul
      %li
        Gaining a permanent bonus die to a specific use of an Ability is the “power baseline” of Secrets as illustrated by the rather generic
        = succeed "." do
          %code
            %a{:href => "/appendices#specialization-ability-specialty", :rel=>"popover", :data=>{:title=>"Secret of Specialization (Ability, specialty)", :content=>"Pick an Ability and define a specialty within the Ability.  The character has a knack for doing especially well within the specialty, gaining a free bonus die for any such Ability checks."}} Secret of Specialization
        Other Secrets that empower Abilities in winning conflicts should be similar in power.
      %li
        Buying bonus dice with Pool points at a 1:1 rate is the basic exchange rate allowed by Secrets such as the
        = succeed "." do
          %code
            %a{:href => "/appendices#training-ability", :rel=>"popover", :data=>{:title=>"Secret of Training (Ability)", :content=>"The character has been formally schooled in the use of the chosen Ability.  You are not limited to just one bonus die from Pool points when making an Ability check."}} Secret of Training
        Other Secrets that cost Pool points or give bonus dice are easy to balance against it.
      %li
        Gaining a minor special skill is typical of Secrets, illustrated by the
        = succeed "." do
          %code
            %a{:rel=>"popover", :data=>{:title=>"Secret of Literacy", :content=>"The character knows how to read and write any languages he speaks. Any conflicts related to literacy are resolved with appropriate language Abilities."}}
              Secret of Literacy
        While the skill itself is bestowed by the Secret, using it in conflict will still require the use of some appropriate Ability. As a rule of thumb, if the main effect of your new Secret is some special ability in the fiction (as opposed to mechanical effects), adapt the
        %code
          %a{:href => "/appendices#talent-particular", :rel=>"popover", :data=>{:title=>"Secret of Talent (particular)", :content=>"<p>The character has an interesting special talent that allows him to do things others couldn't even try.  The talent might not always work as a matter of course, or might be useful in conflict, in which case it defines the Ability used with it.  The talent does not have further mechanical impact, however.</p><p><strong>Cost</strong>: 1 associated Pool point for minor tricks that are rarely useful, 2 for useful and flexible talents and 3 for major effects that always change the nature of the scene when used.  Add +1 for prestigious stuff that makes other players jealous and -1 for talents that require an Ability check to execute most of the time.</p>"}} Secret of Talent
        as per it’s own pricing guidelines.
      %li
        %code
          %a{:href=>"/ability-check#bonus-and-penalty-dice"}Penalty dice
        are not bought at 1:1 with Pool points in most settings; the dicing odds and bonus dice being generally more common in the Solar System mean that penalty dice are more efficient in most situations. As long as Secrets providing penalty dice are not readily available, consider adding a 1 point surcharge on effects that create penalty dice.
      %li A main purpose of Secrets is to allow characters to spend Pool points to power-up their actions: favor Pool costs as limiting features for Secrets.
      %li Do not discount Pool costs because a Secret has many or difficult requirements to obtain. Price all Secrets in terms of Pool and other costs based on how big a deal using the Secret should be during play.
      %li Be careful of creating Secrets that only work in extended conflict or other specific situations. They might work really well, but only if the group is committed to using those systems actively.
    %p
      An important principle in thinking about Secrets is giving specific mechanics an exciting flavor by aligning the setting’s fictional properties with the Secret mechanics. For example, the existence of the Secret of Training in a given campaign does not mean that it should be available for all Abilities; if such training is only available from government agencies and only for
      %code Shooting Guns (I)
      and
      = succeed "," do
        %code Martial Arts (V)
      that creates a fruitful asymmetry with all the other Abilities in the game and allows a strong character for the government resources.
  %section#advanced-crunch
    %header
      %h2 Advanced Crunch
    %p This booklet, being intended as a generic overview of the Solar System, doesn’t really address the full scope of crunch possibilities of the system. Such possibilities need to be discovered in relation to actual setting concerns, as creating long lists of Abilities, Secrets and such without knowing anything of the setting and campaign framework would be entirely futile. I cannot know what kind of “vampires” or “G-men” a particular campaign would require, as I do not know what kind of thematic motifs or other concerns, they would be supposed to drive.
    %p
      That being said, creating crunch is fun and useful, especially if you want to start a new campaign without getting a ready-made setting such as
      = succeed "." do
        %code The Shadow of Yesterday
      Therefore, here follow several examples of how individual fictional concerns might be translated into rules crunch for different campaigns.
    %p The following advanced implementations of the rules-system range over all sorts of rules concepts detailed earlier; the reader should at this point be familiar with the whole array of rules introduced in the preceding chapters to understand what is going on here.
    %aside.well
      %h2#balancing-new-crunch Balancing New Crunch
      %p Balancing Secrets in the Solar System is not very difficult to do in rough terms; fine-tuning, on the other hand, is unnecessary, because the Secret landscape actively evolves during a campaign and never stays exactly the same from one campaign to another.
      %p A Secret might be considered “unbalanced” if all players want to have that Secret solely for the mechanical benefits it proffers. A “non-sensible” Secret, on the other hand, is one that doesn’t make sense to some of the group. If a player has trouble with a Secret, work to correct it before introducing it to play.
      %p If the group deems a Secret too powerful after some play, it’s pretty simple to remove it and regain the Advance. if the group wants to keep the Secret, though, consider increasing its Pool cost by one point and playing a bit more. A balanced cost/benefit situation should emerge sooner or later.
  %section#equipment-ratings
    %header
      %h2 Equipment ratings
    %p The simple way to handle character equipment in the Solar System is with Effects - a character with a letter of marque might “spend” it in convincing a governor of his credentials, for example, having to renew it by corresponding with the capital later.
    %p
      There are alternatives, however, which might become interesting for campaigns where players want more distinction between temporary preparations like Effects and more permanent types of equipment. Or players might simply decide that the Terran Space Service uses Effect values to represent their equipment, while the space aliens use
      = succeed ";" do
        %code equipment ratings
      whatever works for an individual campaign.
    %p
      The
      %code equipment rating
      is a value in the range +1 - +3, combined with a short phrase describing where it might be applicable. For example, a simple sword might have an equipment rating “+1 to injure men or beasts”. This sword would then be applicable when the character using it tried to injure men or beasts with it.
    %p Furthermore, the equipment’s scope depends on the rating as follows:
    %p
      %strong +1 ratings
      apply to certain sorts of activity, with the scope roughly similar to an Ability.
    %ul
      %li A musical instrument for a +1 when making pleasurable music.
      %li A Brahmin caste mark for a +1 when interacting with people.
      %li A shield for a +1 when protecting one-self from attacks.
    %p
      %strong +2 ratings
      only apply in specific circumstances, akin in scope to the
      = succeed "." do
        %code
          %a{:href => "/appendices#specialization-ability-specialty", :rel=>"popover", :data=>{:title=>"Secret of Specialization (Ability, specialty)", :content=>"Pick an Ability and define a specialty within the Ability.  The character has a knack for doing especially well within the specialty, gaining a free bonus die for any such Ability checks."}} Secret of Specialization
    %ul
      %li Snowshoes for a +2 when moving in snow.
      %li A haute couture dress for a +2 when interacting with high society.
      %li A rifle loaded with hollow-point bullets for a +2 when shooting soft targets.
    %p
      %strong +3 ratings
      apply in very specific circumstances that rarely come up of their own accord.
    %ul
      %li A filter mask for a +3 when breathing mustard gas.
      %li A masonic certificate for a +3 when interacting with other Freemasons.
      %li A magical amulet for a +3 when traveling along a Ley line.
    %p A single piece of equipment may have several ratings, of which one is used in a particular situation. An equipment may have at most three +1 ratings, two +2 ratings, and one +3 rating.
    %p
      When the equipment rating counts for an Ability check
      = succeed "," do
        %em and the check is successful
      the player may add the rating to the check result. This may not increase the result past +6, however, and one check may only be affected by one equipment rating.
    %p
      Additionally, a piece of equipment may be used
      %em passively
      against another character’s Ability check when the rating applies to the situation and the equipment is defensive in nature. Passive equipment use deducts the equipment’s value from the opponent’s check result. The same piece of equipment may never be used both actively and passively simultaneously, but it’s quite feasible to have two separate equipments that both apply to the same conflict check, for example.
    %dl.secrets.well
      %dt#secret-of-equipment Secret of Equipment
      %dd The character possess a rated piece of equipment, represented by a freely preserved Effect. (If the character creates the equipment himself, he has to create the Effect as well with a suitable Ability check.) The Effect level determines how many ratings the equipment has; the player creating the equipment may choose one of these while the Story Guide allocates the rest. The equipment may be damaged or destroyed by attacking the Effect normally.
      %dt#secret-of-gadgeteering Secret of Gadgeteering
      %dd
        %p The character is skilled at creating useful jury-rigged equipment on the spot using his technical Abilities and available materials. The player makes an Ability check and writes that down as an Effect which represents the equipment. The Effect level determines the maximum number of ratings the created equipment may possess.
        %p
          %strong> Cost
          \: 1 Reason per equipment rating level (1 for a +1 rating, 2 for +2, etc.)
      %dt#secret-of-equipment-use-ability Secret of Equipment Use (Ability)
      %dd
        %p
          The character is skilled at making use of available tools. When the character uses equipment
          %code declared
          by the Story Guide as rated, the player may add higher rating values related to the declared rating, for this character only. The ratings need to be usable with the chosen Ability and have to be specializations of the declared rating. Created ratings last for the scene.
        %p
          %strong> Cost
          \: 1 related Pool for a +2 rating, 3 for a +3.
    %aside.well.variant
      %h2#variant-declared-equipment Variant: Declared Equipment
      %p
        If the group decides to use equipment ratings, they might also want to have them apear by
        = succeed ":" do
          %code declaration
        according to this rule, the Story Guide may assign a temporary +1 rating to any equipment at will when he feels that the equipment is conferring a significant advantage to a character. Higher ratings need to still be created in other ways.
      %p The benefit of this rule is that equipment ratings are brought into the game much more frequently and in a more “realistic” manner. It means slightly more responsibility for the Story Guide, however.
  %section#drugs
    %header
      %h2 Drugs
    %p Drugs, including medicines and poisons, have pride of place in a great variety of literary genres from pulp fantasy to modern speculative fiction. Being as common as they are, I thought that they’d make a good example of advanced crunch, easily adaptable to most settings in some way. Drugs are also very versatile, able to heal, hurt or simply confuse or entertain, depending on what the people of the setting can do pharmacologically.
    %p
      Primitive settings use Abilities such as
      %code
        Herb Lore (R)
      to create drugs. A simple drug is an Effect created by the practice of the Ability. The Effect has an appropriate name such as “Black Poiture” or “Hashish” and is normally usable for bonus dice in healing, poisoning or whatever it is the drug is supposed to do. Players making one-off drugs could just use generic names like “Hallucinogenics” in describing their Effects.
    %aside.well
      %dl.abilities
        %dt Herb Lore (R)
        %dd Familiarity with the varied plant life of the primitive society, their effects on humans and growth patterns. This Ability could be used to collect rare herbs or keep a garden. Climate and ecology would make obtaining some sorts of herbs more difficult than others.
    %p (As always, you don’t strictly need to make the check result into an Effect if the drug is consumed immediately, as a normal Ability check.)
    %p The player may describe what kind of drugs his character is trying to collect when making the Ability check; the Story Guide may then apply conditional penalty dice for rare-seeming ingredients, lacking equipment or other conditions.
    %p The method of application for simple drugs depends entirely on the Ability and methods used to create them. Herb drugs are usually chewed or smoked, for example.
    %p
      %code Apothecary
      drugs are the next step from simple Ability use, obtained from the
      = succeed "." do
        %code
          Secret of the Apothecary
      A drug created with this Secret works normally as an Effect, but also has special effects from the Apothecary list below.
    %aside.well
      %dl.secrets
        %dt Secret of the Apothecary
        %dd The character is schooled in creating drugs and thus able to make his drugs infinitely more specific in application by utilizing the apothecary drug effects. The character is also schooled in distilling drugs and may learn the <code>Alchemy (R)</code> Ability.
      %h2#apothecary-list Apothecary List
      %ul
        %li One bonus or penalty die to all checks associated with a specific Pool.
        %li Increase the potential Harm caused by the drug by one level.
        %li Unconsciousness or daze.
        %li Fogging or sharpening a sense, causing three bonus or penalty dice to any checks that depend on the affected sense. Over-exposure or being unused to the drug may turn bonus dice into penalty dice moment-to-moment
        %li Addiction, depicted as a penalty dice pool equal to the Effect value spent by the Sotry Guide whenever the character suffers withdrawal.
        %li Spend the Effect as penalty dice for the imbiber instead of bonus dice for the character who calls upon the Effect.
        %li Other effects are easy to include, bud don’t go overboard in any one campaign.
    %p Each drug created by an Apothecary may have one effect chosen by the player and must have one deleterious effect (chosen by the Story Guide) for the imbiber. All effects last until the end of the scene unless otherwise determined by the Story Guide.
    %p
      When creating a new drug, the player records its name and effect for further reference. It is notable that while an Apothecary drug is being used, the player does not
      %em have to
      spend the Effect value in any way; he can just use the Apothecary effects. Similarly, the Apothecary effects do not need to be spent when spending the Effect value normally, if the character somehow uses the Effect to his advantage without anybody imbibing the drug; trying to raise money by selling the drug could be one such situation.
    %p
      When a character takes an Apothecary drug, he makes an
      %code Endure (V)
      check against the Effect value. If the check succeeds, the drug only causes its positive Apothecary effects (the target’s player chooses which effects work, in other words), while failure means that it causes all of its effects and the character suffers Harm equal to the Effect value as well.
    %p
      A
      %code Distilled
      drug is created with an
      %code
        Alchemy (R)
      check from the herbs collected with
      = succeed ";" do
        %code Herb Lore (R)
      the
      %code Herb Lore (R)
      check result or Effect is spent as bonus dice for the
      %code Alchemy (R)
      check. The undistilled base drug is recorded as well when creating a distilled Effect.
    %aside.well
      %dl.abilities
        %dt Alchemy (R)
        %dd The character knows how to distill drugs into more pure forms. The resulting infusion is liquid and needs to get into the bloodstream by ingestion or injection to take effect. Only highly skilled apothecaries learn this stuff in less advanced settings.
    %p
      The benefit of distilling drugs is that the Apothecary may choose both effects of the drug freely and even make them the same effect. The base undistilled drug affects the effects of imbibing the drug, however: when the patient succeeds in the
      %code Endure (V)
      check against a distilled drug, he still suffers the
      %em full effects
      of the
      = succeed "." do
        %em base drug
    %p
      (A more modern, industrialized take on drugs would probably get rid of separate herb drug and distillation Abilities in favor of
      = succeed ".)" do
        %code Pharmacology (R)
    %p There are many other things a given setting might do with drugs, but those need to wait for the specific settings to flesh them out.
    %dl.secrets.well
      %dt#secret-of-metastasis Secret of Metastasis
      %dd
        %p The character may add more Apothecary effects to his distilled drugs past the first two at the cost of stability.
        %p
          %strong> Cost
          \: 1
          %code Reason
          and 1 penalty die to any Alchemy checks with the distillation for each extra effect.
      %dt#secret-of-the-serpent-blade Secret of the Serpent Blade
      %dd
        %p
          The character may boil down a drug infusion into a sticky paste with a successful
          %code Alchemy (R)
          check, applicable to edged weapons and preserving near indefinitely, until the edge pierces skin. The infusion Effect is spent as bonus dice and replaced with the posoned weapon Effect for free.
        %p
          %strong> Cost
          \: 1
          %code Vigor
      %dt#secret-of-drug-digestion Secret of Drug Digestion
      %dd
        %p Constant use of high-grade drugs allows the character’s physiology to shrug of adverse effects of Apothecary drugs: the player may pay Vigor to lower Harm caused by drug use on a 1:2 basis. The character might still suffer from other ill effects that do not cause Harm, though.
        %p
          %strong> Cost
          \: 1
          %code Vigor
          per 2 lowered levels of Harm.
  %section#werewolves
    %header
      %h2 Werewolves
    %p Monsters are ever-popular, so let’s see how one might build a set of werewolf rules in the Solar System. This also allows us to highlight the potential role of Keys in distinguishing the moon-mad wolf-man from other characters.
    %p These werewolves are not particularly pop-cultural, but rather the sort you find in old European accounts. They’re blood-mad people reveling in the lycanthropy contracted by deliberate witchery or from another werewolf. The line between a witch, werewolf and a lunatic is completely vague here, and intentionally so.
    %p
      All prospective werewolves have the
      = succeed "," do
        %code<
          Key of Lycanthropy
      which rewards the character for signs of lycanthropy in the scenes he participates in. The trick is that nobody at the table needs to know or determine whether the signs of werewolf activity in the story are caused by this character; all wolfy stuff can potentially happen off-stage for a long while, and when the werewolf appears on-stage, the Story Guide may well run it regardless of who it might be as long as the character refuses to reveal himself.
    %aside.well
      %dl.keys
        %dt#key-of-lycanthropy
        %dd
          %p The character might be a werewolf; he does not need to realize it himself. Depending on the setting, lycanthropy could be contracted in a totally frivolous manner, such as by not going to church on sabbath.
          %dl
            %dt 1xp
            %dd Werewolves are discussed.
            %dt 2xp
            %dd Signs of werewolf activity, such as peculiar slain animals, are found.
            %dt 5xp
            %dd The character is in danger of being caught and convicted of being a werewolf.
            %dt Buyoff
            %dd Prove that you are not a werewolf.
        %dt#key-of-bloodlust Key of Bloodlust
        %dd
          %p The character is a lusty, animalistic and cruel individual.
          %dl
            %dt 1xp
            %dd Act in a bestial and crude manner.
            %dt 3xp
            %dd Go straight for the jugular, figuratively or not.
            %dt Buyoff
            %dd Be shamed and ashamed.
      %dl.secrets
        %dt#secret-of-lycanthropy Secret of Lycanthropy
        %dd
          %p
            The character thinks he is a werewolf and that he can change shape when alone in the woods. The werewolf may impose the
            %code
              %a{:rel=>"popover", :data=>{:title=>"Key of Lycanthropy", :content=>"<p>The character might be a werewolf; he does not need to realize it himself. Depending on the setting, lycanthropy could be contracted in a totally frivolous manner, such as by not going to church on sabbath.</p><p><strong>1xp</strong>: Werewolves are discussed.</p><p><strong>2xp</strong>: Signs of werewolf activity, such as peculiar slain animals, are found.</p><p><strong>5xp</strong>: The character is in danger of being caught and convicted of being a werewolf.</p><p><strong>Buyoff</strong>: Prove that you are not a werewolf.</p>"}}<
                Key of Lycanthropy
            with a bite in wolf-form and the
            %code Key of Bloodlust
            by seduction in humon form, as per the
            = succeed "." do
              %code
                %a{:href=>"/appendices#imposition-motivation-key"}Secret of Imposition
            The werewolf in wolf form has the Ability
            %code Bestiality (V)
            and may not use other Abilities (excepting Passive Abilities) in his wolf-form.
            %code Bestiality
            starts at
            %code Mediocre (0)
            and gains one free Advance for every year the character spends as a werewolf. The character may buy unlimited bonus dice for Bestiality with Vigor.
          %p
            %strong> Requirements
            \:
            = succeed "," do
              %code Key of Bloodlust
            %code Key of Lycanthropy
      %dl.abilities
        %dt#besiality-v Besiality (V)
        %dd
          %p The werewolf’s Ability at tracking, rending, slaying, hiding, scrambling, jumping, swimming and anything else a werewolf might do. Specifically, Bestiality is used to convince others that you really are a werewolf.
  %section#martial-arts
    %header
      %h2 Martial Arts
    %p Our last example of how advanced crunch can be used to create more intricate playing fields are martial arts, which have become very popular in many genres during our generation. Similar rules are easy to adapt to other popular topics, such as wizardly magic.
    %p
      A modern setting with fire-arms and such will probably make do with just one
      %code
        %a{:rel=>"popover", :data=>{:title=>"Martial Arts (V)", :content=>"An Ability representing formal training, conditioning and experience in traditional melee and unarmed fighting. Useful for all sorts of punching, kicking, throwing, locking, battlefield movement and such. More esoteric skills such as different martial weapons might be used to some efficiency as well, depending on the context."}} Martial Arts (V)
      Ability, considering that traditional armed and unarmed fighting is not the be-all, end-all of violence in such a setting. As always, other settings would have other considerations; a game focused on Chinese kung-fu might differentiate between internal and external styles, for example.
    %aside.well
      %dl.abilities
        %dt#martial-arts-v Martial Arts (V)
        %dd
          %p An Ability representing formal training, conditioning and experience in traditional melee and unarmed fighting. Useful for all sorts of punching, kicking, throwing, locking, battlefield movement and such. More esoteric skills such as different martial weapons might be used to some efficiency as well, depending on the context.
    %p
      %code Martial styles
      use
      %a{:href => "#equipment-ratings"} equipment ratings
      to make the fighter even more powerful: each martial school is defined by a style matrix of martial ratings. The matrix involves three +1 ratings, two +2 ratings and one +3 rating pertinent to the particular martial arts style.
    %aside.well
      %dl.secrets
        %dt#secret-of-martial-style-style Secret of Martial Style (style)
        %dd
          %p
            The character has learned a martial arts style and has access to the style’s martial ratings when using
            = succeed "." do
              %code Martial Arts (V)
          %p
            %strong> Cost
            \: 1 Pool point per rating level (2 for a +2 rating, etc.) per Ability check. Use Vigor for fighting, Reason for healing and so on.
      %h3#example-shaolin-kung-fu Shaolin Kung-fu
      %p There are hundreds of specific styles that claim descent from the legendary Shaolin monastery. These styles are generally external, Buddhist arts with little else in common. I’m no expert on the topic, but for giggles, here’s a sketch of how “Shaolin Kung-fu” might appear in a cinematic game:
      %table.table.table-condensed
        %tbody
          %tr
            %td
              %strong +1
              for health and recovering from injuries.
          %tr
            %td
              %strong +1
              for the punching and kicking people.
          %tr
            %td
              %strong +1
              for acrobatics and gymnastics.
          %tr
            %td
              %strong +2
              for using the staff or spear.
          %tr
            %td
              %strong +2
              for positioning in combat.
          %tr
            %td
              %strong +3
              for fighting against other Shaolin stylists.
    %p
      A martial arts style need not be complete, and not all equipment ratings need to involve fighting in the strict sense. Regardless, an Ability check utilizing an equipment rating from a Martial Style is always made is always made with
      = succeed ";" do
        %code Martial Arts (V)
      thus a character might use his martial skills to heal or at least support a healing check, for example, when the art includes medicinal knowledge.
    %p
      A martial
      %code technique
      is a Secret related to a martial style. Generally speaking, they all influence an extended conflict only, being intended to be used in those important, lengthy martial arts duels. Ideally, a martial artist uses the relatively expensive and powerful martial ratings of his style to win simple conflicts, going for techniques when the conflict extends.
    %aside.well
      %dl.secrets
        %dt#sweep-technique-shaolin Sweep Technique (Shaolin)
        %dd
          %p Shaolin kung-fu has particularly powerful sweeping techniques intended for unbalancing and felling a careless opponent. The sweep can be done for bonus dice or Harm depending on the surface. The fallen fighter needs to get up with a non-Harming action before continuing fighting (unless he can fight from the ground).
          %p
            %strong> Cost
            \: 2
            %code Vigor
          %p
            %strong> Requirement
            \:
            %code Secret of Martial Style (Shaolin)
        %dt#healing-points-technique-shaolin Healing Points Technique (Shaolin)
        %dd
          %p
            The character makes one
            %code Martial Arts (V)
            check to heal Harm caused by physical injury. Each injury may only be treated once in this manner.
          %p
            %strong> Cost
            \: 2
            %code Reason
          %p
            %strong> Requirement
            \:
            %code Secret of Martial Style (Shaolin)
    %p
      A martial
      %code stance
      is a special kind of technique that sets up an Effect for ongoing benefit in an extended conflict. The stance can’t be maintained for long time periods (between scenes, say) and the same fighter cannot use several stances at once. Otherwise they are like other Effects and may be spent for bonus dice, reduced by others, etc.
    %aside.well
      %dl
        %dt#shaolin-stance-shaolin Shaolin Stance (Shaolin)
        %dd
          %p
            A character takes the Shaolin Stance with a
            %code Martial Arts (V)
            check. Turned into an Effect, the stance may be spent to pay the Pool costs for any Shaolin Secrets on a point-for-point basis.
          %p
            %strong> Cost
            \: 1
            %code Vigor
            and the cost of creating the Effect.
          %p
            %strong> Requirement
            \:
            %code Secret of Martial Style (Shaolin)
        %dt#water-stance-shaolin Water Stance (Shaolin)
        %dd
          %p
            A character takes the Water Stance with a
            %code Marial Arts (V)
            check. Turned into an Effect, the stance adds its value as bonus dice to all Defensive Actions the character takes as long as he concentrates on the fight. The Water stance is also highly efficient against direct martial strikes and will usually defend against those, unless the character chooses to oppose the attack himself.
          %p
            %strong> Cost
            \: 2
            %code Instinct
            and the cost of creating the Effect.
          %p
            %strong> Requirement
            \:
            %code Secret of Martial Style (Shaolin)
    %p The system presented here is easy to extend with new styles and techniques as necessary. A character might easily be an eclectic practitioner as well, forming his own style out of several influences.
    %aside.well
      %dl.secrets
        %dt#secret-of-conditioning-style Secret of Conditioning (style)
        %dd
          %p The character has trained extensively in a particular martial arts style and thus gets a 1 Pool point discount for activating any Secrets from that style. However, the character has to train regularly to keep up the conditioning.
          %p
            %strong> Requirement
            \:
            %code Secret of Martial Style
            for the same style.
        %dt#secret-of-the-master-style Secret of the Master (style)
        %dd
          %p The character has mastered the basic principles of a particular fighting style. He may use any technique from that style for a whole scene without having explicitly learned it previously. (Pay an Advance to keep the technique permanently.) He may also modify the style’s martial rating matrix to create a new style.
          %p
            %strong> Cost
            \: 1
            %code Reason
            per recovered technique.
          %p
            %strong> Requirement
            \:
            %code Secret of Martial Style
            for the same style.
