%section#starting_a_game.chapter
  %header
    %h1 Starting a Game
  %p A group of friends intrigued by Solar System roleplaying should seek to gather together for a suitably idle eventide in a relaxed atmosphere, bringing with them some notebooks, writing utensils, and perhaps some snacks and music. I find poker chips or other tokens useful as well. Oh, and around a dozen Fudge dice.
  %p
    The
    %code Fudge dice
    might be unfamiliar to the reader, as they’re a rare curiosity only used in some few roleplaying games. They’re also pretty cheap and available from specialty stores. Or, a crafty person might wish to make his own by being creative with normal dice and marker pens: the Fudge dice are just six-sided dice with two ‘+’, ‘-’ and blank sides each in lieu of the pips.
  %p
    With the dice and friends at hand, the group can then get into the task of the first evening, which is to choose and focus a setting and create some player characters for the campaign to come. It is most likely that at this point one of the players is ready to assume the mantle of the
    = succeed "," do
      %code Story Guide
    but feel free to let the player roles live until character creation truly commences.
  %section#choosing_a_setting
    %header
      %h2 Choosing a Setting
    %p
      It is often the case that one of the players (the prospective Story Guide, perhaps) has some notion of what the setting of the forthcoming campaign should be. The
      %code setting
      is the generic fictional framework in which the game would be played: the environment, culture, general background upon which the player characters are built. A famous example of a fantastic setting is J.R.R. Tolkien’s
      = succeed "," do
        %code Middle-Earth
      but something as mundane as Chicago during the 1930s might make for fine stories as well, perhaps something along the lines of Eliot Ness’s experiences with the
      = succeed "." do
        %code Untouchables
    %p
      The setting used in a Solar System campaign may well be intricately elaborate or, especially, just
      %em wide
      in the sense of having many things of varied nature. It might just as well be little more than a general agreement on genre and style: a fine campaign could be begun by agreeing on a “generic space opera” setting and starting to brainstorm characters, for example. The important thing is that all players need to have some sense for the setting; whether this is achieved by using an already familiar setting, circulating choice reading material among the group before the first session, having somebody narrate pertinent points to the rest of the players or just thinking up the setting as you go, it’s all good.
    %p
      If the group is playing with Solar System for the first time ever, it is recommended that they do so with a setting specifically created for the purpose, as this greatly speeds up play and provides support in rules and play both. The excellent
      %code Shadow of Yesterday
      is the original sword &amp; sorcery setting for Solar System, providing a wide variety of exotic cultures and creatures in a world with no gods or monsters, just people struggling to remake their everything after a great cataclysm. The Shadow of Yesterday is an easy recommendation for Solar System, as it comes with ready-made setting-specific mechanics for use in the game, making for an excellent starting point into dramatic adventure!
    %p Groups interested in procuring a ready-made setting for the Solar System will do well to seek for The Shadow of Yesterday and other fine options in the Internet, where other hobbyists have already published their ideas and notions for adventure utilizing the Solar System.
    %aside.well
      %h2#scenario_play Scenario play
      %p When a group does not have time for a campaign of several sessions, the Solar System is hardly the ideal game. A one-shot session can be best used for learning the rules by making some idle characters just for the fun of it, perhaps running some sample conflicts as well. Perhaps the players are then better prepared for the game later on!
      %p
        Regardless, when a quick one-shot session is required, the best bet is to have the Story Guide prepare a
        = succeed ":" do
          %code scenario
        straightforward situation, ready-made (or almost so) characters and lots of prepared elements, all according to chapter
        = succeed "." do
          %a{:href => "/story_guide"} Story Guide
    %h3#adapting_a_setting Adapting a Setting
    %p
      If a group has shared history with some other games or simply like the same novels or movies, they might already have a suitably dramatic setting in mind for Solar System adventures. Such classical staples of fantasy adventure gaming as the above-mentioned Middle-Earth work nicely as a common background, as do the
      = succeed "," do
        %code Young Kingdoms
      %code Glorantha
      and other loved milieus of fantasy literature and gaming. Likewise, historical settings based on virtually any era are excellent choices, as well as future fantasy from cyberpunk to space opera.
    %p
      When a new setting is being adapted for the Solar System, some extra work is required in developing mechanical crunch inspired by the setting into the game; this process is explained in depth in
      = succeed "." do
        %a{:href => "/secrets_and_crunch"} Secrets and Crunch
      Especially the Story Guide should be ready to facilitate character creation by inventing and affirming central points of the setting into crunch; this is a really fun undertaking, but it takes some experience with the rules, so I don’t recommend it to first-timers with the Solar System.
    %h3#making_up_a_setting Making up a setting
    %p If the group is really confident in their skills of mutual story gaming, they might wish to make up a setting as they go along. Somebody just throws out an idea that everybody can work with and there they go, building up material and making decisions as needed.
    %p
      Remember, when making a setting for the Solar System, you want it to be
      %code dramatic
      in that there is room for human choice, suffering and reward. The setting should also be
      %code epic
      in the sense of allowing for great changes wrought by the protagonist characters. Finally, the setting should be
      = succeed "," do
        %code adventurous
      as events come about in a colorful and cinematic manner.
    %p
      When making a new setting out of whole cloth, remember to
      = succeed "." do
        %em start small
      More can always be established by the players as they create their characters, and by the Story Guide when he develops the situation for play.
    %p What was said above about adapting crunch holds true for creating a new setting as well, although it is notable that many interesting things can also be created simply by mixing and matching existing mechanics from other Solar System settings.
  %section#focal_points
    %header
      %h2 Focal Points
    %p
      After the group has found a setting everybody is happy with, it is vitally important to agree upon some added focus. Almost always a setting is much wider than one particular campaign could hope to encompass in a meaningful manner, so it is important for the group to discuss the general setting and choose some particular
      %code focal points
      therein to focus their campaign.
    %p
      For example, in the world of the Shadow of Yesterday,
      = succeed "," do
        %code Near
      there exist a number of disparate human cultures in conflict. The first step to any campaign in Near is for the players to choose a particular cultural situation, or perhaps an interface between cultures, as the focal point of interest for their game. When they create their characters, not all might represent the culture or cultures in the focal point, but every character will have some interest and agenda towards the common point of interest. This is good, as the world of Near is too wide for everything in the setting to be utilized to full extent in the course of one campaign.
    %p Other settings might certainly involve different points of interest. For example, in a scifi game it would be quite reasonable to agree that a particular space station, focal point of a desperate peace effort, might serve as the central point of interest. Another game might be all about the Albigensian heresy in 13th century Aquilonia, even while the setting itself encompasses Catholic Europe.
    %p The group might want to identify more than one focal point for a slower and wider-ranging campaign, but beginners at the fine art of dramatic campaigning are probably better off with just one, important and interesting point. And even when focal points are many, they should all be most pertinent for several characters, not just one. If points are scattered too far and wide in character creation, it is better to revise the focus of the campaign to correct.
    %p The focal points picked for the particular campaign are just a starting point, note, and need not be particularly pursued after character creation. The intent here is to negotiate a starting situation wherein all player characters will be loosely involved. Further on it will be the job of the Story Guide to weave together the stories of the characters in intricate manner.
    %p
      Some settings, by the way, are genuinely narrow enough to require no further framing, This is often the case for settings made up on the spot, as the players naturally attach their characters to whatever idea was first proposed as the basis of the setting. Sometimes settings based on literary works are similarly single-minded: for example, it is very likely that a game set in the world of Frank Herbert’s
      %code Dune
      would find a natural focal point in the eponymous planet itself and the mysterious Spice found therein; players would need to actively avoid the point to succeed in creating disparate characters.
  %section#overview_of_the_game
    %header
      %h2 Overview of the Game
    %p Once the group is happy with their idea for a campaign, it’s natural to start thinking of player characters, the protagonists of the campaign: what are the interesting people in this setting like? Is he a scholar too curious for his own good? Is she a soldier without a cause? How are the characters tied to the setting we just spoke of?
    %p However, players with no prior experience with the Solar System will find a general overview of the game and its rules system useful. As mentioned in passing above, Solar System is a semi-traditional roleplaying rules set: the group establishes a setting and some player characters, who then go on to interact with different situations set up by the Story Guide. This interaction happens by the virtue of rules, like so:
    %h3
      %a{:href => "/character_creation#abilities"} Abilities
    %p
      All characters have a range of Abilities, chosen by the player to match with the character’s fictional background in the setting. For example, a character might have the
      %code Ice Hockey
      Ability to signify his skills in the game of ice hockey. The Abilities define the
      = succeed ":" do
        %code arena of conflict
      tense, uncertain and conflicted situations in the fiction created by the game are resolved by the characters using their Abilities. Thus a campaign wherein
      %code Ice Hockey
      is used might potentially end up resolving situations by characters going at it in the rink.
    %h3#pools
      %a{:href => "/character_creation#dividing_pools"} Pools
    %p
      Abilities are all associated with Pools, which are a character’s discretionary personal resources: a player might opt to spend points from a character’s Pool to improve his chances in using an Ability. The character refreshes a Pool later by interacting with other characters and in general having a good time. Traditionally, an Ability’s association with a Pool is signified by marking down the Pool’s abbreviation after the Ability name. For example,
      %code Ice Hockey (V)
      would mean that Ice Hockey-the-Ability is associated with
      = succeed "," do
        %code Vigor
      a pool representing physical stamina.
    %h3
      %a{:href => "/secrets_and_crunch"} Secrets
    %p When all characters have Pools and Abilities, each character might have his own array of Secrets, special skills and tricks only available to a chosen few. Secrets are used by the play group to create interesting rules-mechanical asymmetries in the conflict system and other rules; play is more fun when a witch and a dragon work by different rules, one might say.
    %h3
      %a{:href => "/conflict_resolution"} Conflicts
    %p The main concern of the Solar System in play is resolving exciting conflicts between interesting characters. The character resources above are all utilized in full by the players in conflict. The conflict rules are pretty extensive, but their purpose is simple: player characters end up in dangerous situations, have to choose their goals and then decide how much they want to sacrifice, how much to suffer, for those goals. A character might even die, provided the stakes are high enough!
    %h3
      %a{:href => "/keys_and_experience"} Keys
    %p
      Solar System is fundamentally a game for growth stories: player characters have these things called Keys, which direct and channel a character’s growth process. As the game progresses, a character then grows in power, which allows the player to make increasingly weighty choices in the setting. This process ultimately ends with
      = succeed "," do
        %code
          %a{:href => "/keys_and_experience#transcendence"} Transcendence
      the character breaking all boundaries and finishing his story with a lasting mark in the world.
    %h3
      %a{:href => "/story_guide"} Story Guide
    %p One of the players is elected the Story Guide before characters are created. The Story Guide will have many tasks, with only the first being to chairman the other players through character creation.
    %aside.well.variant
      %h2#variant_rules Variant Rules
      %p The Solar System is considerably fluid; there are many places where a given group might wish to deviate from the standard rules in different details.
      %p
        %code Variant rules
        are described throughout this booklet in an effort to point out some simple and effective variations that might prove pleasing for an individual group and a specific campaign. In all cases it is recommended that the group first consider the default solution and understand why it works the way it does, as only then may the validity of a variant suggestion be judged.
  %section#introducing_crunch
    %header
      %h2 Introducing Crunch
    %p
      As the above overview implies, Solar System is a very modular rules-set: each campaign will have its own set of modular rules out of which characters are created. Especially Abilities, Secrets and Keys are routinely fiddled with
      %em all the time
      as a campaign progresses; you start when determining the setting, continue as characters are developed and finalize the rules-environment during play, as necessary.
    %p This module rules-array situated on top of the general rules is termed, traditionally enough, “crunch”. Learning to create it is useful especially for the Story Guide, and especially so when the group does not have a ready-made setting for the system at hand.
    %p
      The easiest way of picturing the role of crunch in Solar System play is as
      %code points of contact
      between the rules-system and the imagined fiction of play: the story we narrate to each other while playing is one thing, and the rules-procedures like Ability checks and conflict rules are another. EAch bit of character crunch, like an Ability, is one point where the rules and the fiction get to touch: when a character acts to charm a pretty lady, the rules use the
      %code Romancing (I)
      Ability to determine how well he succeeds; the resolution process, in turn, directs play towards interesting consequences.
    %p The Solar System, when fully utilized, will have many points of contact between the setting and the system: when characters do things and make decisions, they will trigger all kinds of interesting mechanical activities. Then the mechanics will further drive play, implying directions for the story to go. Thus the system and setting support each other and that’s why it’s important to have plenty of interesting crunch around; without it the two parts of play could drift so far apart that the group’s interest in one or the other parts would be betrayed.
    %p
      Examples of how mechanics tie into fiction in the Solar System are found in
      = succeed "," do
        %a{:href => "/character_creation"} Character Creation
      = succeed "," do
        %a{:href => "/keys_and_experience"} Keys &amp; Experience
      and
      = succeed "," do
        %a{:href => "/secrets_and_crunch"} Secrets &amp; Crunch
      which deal with the major categories of crunch in the rules. Here we continue to take a quick look at some points concerning crunch at the beginning of play.
  %section#initial_crunch
    %header
      %h2 Initial Crunch
    %p How much crunch is and should be available at the beginning of a campaign differs somewhat based on several factors: a ready-made Solar System setting obviously obviates the problem, while a group looking to start from an empty table will have the work and play of setting up their own crunch ahead of them. This is easier to do before the first session of play (perhaps a newcomer to the rules-set might wish to contact me, so we could walk through the steps together?), but it’s possible to do on the fly if the players have prior experience with the Solar System.
    %p
      %a{:href => "/secrets_and_crunch"} Secrets &amp; Crunch
      and
      %a{:href => "/story_guide"} Story Guide
      include considerable advice for preparing material, including crunch, before and between sessions of play. The task is considerably trickier when you need to do it on the run, though, so perhaps I’ll dedicate a few words to the topic.
    %h3#ability_landscape Ability Landscape
    %p
      The
      %code Ability landscape
      of a setting consists of a general sense of the means of resolution the characters of the setting have available. A generic modern setting, for example, would include Abilities such as
      = succeed "," do
        %code Violence (V)
      = succeed "," do
        %code Litigation (R)
      = succeed "," do
        %code Firearms (I)
      = succeed "," do
        %code Rhetoric (I)
      = succeed "," do
        %code Sex Appeal (I)
      and
      %code Commerce (R)
      among others, as those are all ways of conflict resolution in such settings.
    %p Should a campaign begin with nobody having created a “list of common Abilities” to pick and choose from, the players will fare relatively well by inventing Abilities on the spot — creating them is quick and easy, as players just need to imagine ways their characters could use to resolve different crisis situations.
    %p
      When creating Abilities on the spot, keep an eye on their
      %code scope
      and
      = succeed ":" do
        %code variety
      Abilities in the Solar System reside in a sweet spot where they have significant meaning as skills and practices in the setting, while also being generic enough to be interesting as issues of identity. As a general rule of thumb, make your Abilities represent some sort of concrete skills, and avoid having Abilities that can be used in every situation. Thus an Ability like
      %code Intelligence (R)
      probably wouldn’t be very interesting, as it could be considered relevant for almost any situation while being really vague about the cultural details of that “intelligence”.
    %p Usually a good and varied setting includes around 10-20 different Abilities commonly available to most characters. When inventing Abilities directly for characters, most players end up with 5-8 Abilities listed for their character.
    %h3#key_landscape Key Landscape
    %p
      The
      %code Key landscape
      of a setting concerns the themes and dramatic pacing of the campaign. A very common way of playing in this regard is having players invent their own Keys to fit the player characters.
    %p
      Some settings will, however, benefit from pre-created or normative Keys. For example, having all space marines in a space opera setting share the
      %code Key of the Space Marine
      is a fine technique for emphasizing given themes of spacemarine-ness (whatever those might be in the setting at hand).
      %a{:href => "/keys_and_experience"} Keys
      delves further into these issues.
    %h3#secret_landscape Secret Landscape
    %p
      The actual challenge in starting a campaign of the Solar System from an empty table crunch-wise is in the
      = succeed "," do
        %code Secret landscape
      which varies strongly between settings and is rather non-trivial to create on the spot. Individual players may develop their skills to become very, very good at improvising complex crunch, but generally a group going with on the spot improvised crunch will end up with a straight-forward implementation of the Solar System; this is not a problem, and it might even be the best choice for a first campaign for a group that does not prefer lots of rules, but it’s best to be aware of the outcome if you choose to begin a game without preparing crunch elements.
    %p
      Assuming that the group does not mind straightforward crunch, most Secret creation on the run will probably center on simple variants of the Secrets of
      = succeed "," do
        %code
          %a{:href => "/appendices#equipment_particular", :rel=>"popover", :data=>{:title=> "Secret of Equipment", :content=>"<p>The character has some unusual equipment, such as a horse (for a medievalish setting), or anything else that most people wouldn't possess, really.  The character may declare and possess one free Effect representing the equipment.  (In other words, the first Effect related to the equipment does not cost Pool points, while the player may also pick one such Effect during each refresh to preserve for free.)</p><p><strong>Cost</strong>: 2 <code>Instinct</code></p>"}} Equipment
      %code
        %a{:href => "/appendices#specialization_ability_specialty", :rel=>"popover", :data=>{:title=> "Secret of Specialization (Ability, specialty)",:content=>"Pick an Ability and define a specialty within the Ability. The character has a knack for doing especially well within the specialty, gaining a free bonus die for any such Ability checks."}} Specialization
      and
      = succeed "." do
        %code
          %a{:href => "/appendices#training_ability", :rel=>"popover", :data=>{:title=>"Secret of Training (Ability)", :content=>"The character has been formally schooled in the use of the chosen Ability. You are not limited to just one bonus die from Pool points when making an Ability check."}} Training
      The game will run fine with as few as these three, so a beginner group will get by fine without worrying about the more involved opportunities provided by the crunch system. More options are easy to introduce as system expertise grows and players move on to more complex campaigns.