%section#table-of-contents
  %ul.breadcrumb
    %li
      %a{:href=>"/"} Bookshelf
      %span.divider /
    %li.active
      %a{:href=>"/#{@book.url}"}=@book.title
  = haml :_license
  %h1 Table of Contents
  %ol
    - @book.chapters.each do |chapter|
      %li
        %a{:href=>"/#{@book.url}/#{chapter.name.snake_case}"}= chapter.name
      - unless chapter.sections.nil?
        %ol
          - chapter.sections.each do |section|
            %li
              %a{:href=>"/#{@book.url}/#{chapter.name.snake_case}##{section.snake_case}"}= section
  %h2 Extras
  %ul
    %li
      %a{:href=>"/#{@book.url}/onepage"} All of the above on one page
    %li
      %a{:href=>"/pdf/#{@book.url}_character_sheet.pdf"} Character Sheet
    %li
      %a{:href=>"mailto:nicknovitski@gmail.com?subject=SolarSRD"} Questions and Praise
