%section#keys-and-experience.chapter
  %header
    %h1 Keys and Experience
  %p A Solar System campaign is centered around the theme of character growth, change brought about by experience and adversity. Player characters begin at relative loose ends and come to find their place in the world when their choices close off other options and shape a more permanent identity for characters who begin as little more than a colorful image devoid of meaning.
  %p
    The mechanical instrument players use to guide this process of character growth is called a
    = succeed "," do
      %code Key
    of which each character possesses one or more. Keys in turn supply characters with
    %code experience points
    (XP), which are used by the character to grow in power. The rising power-level of the character in relation to the setting around him leads to independence and increasingly important opportunity to
    = succeed "," do
      %em choose
    both for himself and others. The logical end-result of this progression is called the
    %code Transcendence
    in which a given character’s story ends after he’s proved his heroic nature once and for all.
  %p But before that can happen, a character needs to have some Keys to define and breed his theme. Below are a couple of examples of what Keys look like.
  %dl.well
    %dt#key-of-romance-person Key of Romance (person)
    %dd
      The character is involved in a romance with another person. Our interest is in seeing what sort of relationship comes of it, or if the characters stay with it at all.
      %dl
        %dt 1xp
        %dd Flirt with the romantic interest.
        %dt 2xp
        %dd Interact positively with the person. Go on a date or save her from a death-trap, for instance.
        %dt 5xp
        %dd Develop the relationship to a new level, whether the “next base” of physical intimacy, betrothal or something else.
        %dt Buyoff
        %dd Break off the romantic relationship.
    %dt#key-of-love-person Key of Love (person)
    %dd
      The character is passionately in love with another person. He doesn’t necessarily know what to do with the feeling, though.
      %dl
        %dt 1xp
        %dd Express the love.
        %dt 3xp
        %dd Make an important decision based on the passion.
        %dt Buyoff
        %dd Put aside and forget the love.
  %p
    As you can see, Keys are simply short rules of some fictional circumstances that award experience points to the character. The
    %code Buyoff
    is a special circumstance as well: when it happens, the player has the option of removing the Key and scoring 10 xp at once. The catch is that characters may never regain a Key once bought off: the buyoff is always a permanent change to the character.
  %p
    The
    %code Key of Romance
    vs. the
    %code Key of Love
    comparison deal here demonstrates that there are different types of Keys,
    = succeed "." do
      %code Key frameworks
    The two most common and perhaps most useful frameworks are the
    %code Dramatic
    and
    %code Motivation
    frames:
  %dl.well
    %dt#dramatic-key-framework Dramatic Key framework
    %dd
      %p Keys of this type describe dramatic motifs.
      %dl
        %dt 1xp
        %dd The dramatic issue is involved in a scene.
        %dt 2xp
        %dd The character encounters significant challenges related to the theme.
        %dt 5xp
        %dd The motif progresses
        %dt Buyoff
        %dd The theme is discarded from the game.
    %dt#motivation-key-framework Motivation Key framework
    %dd
      %p Keys of this type describe psychology.
      %dl
        %dt 1xp
        %dd The character expresses the motivation.
        %dt 3xp
        %dd The character follows the motivation despite risk, personal cost or other considerations.
        %dt Buyoff
        %dd The character opts to let go of the trait represented by the Key.
  %p
    The frameworks are used for building new Keys, which is something the play group is rather likely to do in the course of a campaign (just fill in the details!). Keys are often personalized to the characters who possess them, but even then all players in the group need to understand and appreciate the Key, considering it interesting. It is also quite appropriate to prepare a list of likely Keys when starting a new campaign in a new setting, as different genres obviously concern themselves with different themes. Something like the
    %code
      %a{:href => "secrets-and-crunch#key-of-bloodlust"} Key of Bloodlust
    would hardly be appropriate for a setting based on
    = succeed "," do
      %code Care Bears
    for example.
  %p
    As the above example of two different romantic Keys suggests, it is often possible to depict almost the same theme with different frameworks. Players may choose the one that better matches their preference or the prepared setting material may suggest one type over others. However, characters should not have overlapping Keys, so no
    %code Key of Love
    and
    %code Key of Romance
    towards the same person. (Of course, two Keys of Love towards two different persons would work just fine!)
  %p
    %a{:href => "appendices#example-keys"}> Here are a number of example Keys
    \. As the list demonstrates, however, be ready to build your own as well: human issues are as numerous as could be hoped for, so any one list is rather unlikely to satisfy everybody.
  %aside.well
    %h2#key-abuse Key Abuse
    %p It is not particularly rewarding to abuse the Key experience system in actual play, so for the most part we are not worried about that. The Story Guide is well positioned to take it up if players seem to be confused about the point of play.
    %p A good maxim for gauging Key abuse is whether each Key possessed and scored by a character actually corresponds with separate interesting events and meaningful choices in the fiction. Just having many Keys and scoring them quickly is all good as long as it follows from interesting events in play!
    %p
      A group experienced with some other roleplaying games might get worried or even distressed with the ease of “scoring XP” in the Solar System — such worry is baseless, the system is intended to work the way it does! The players
      %em should
      plan their actions to maximize experience flow and it’s
      %em perfectly normal
      to have a player score experience several times in one scene. That’s how you play the game.
    %p It is also quite usual that different characters progress at different rates. A player is not failing if his character is slow in gaining experience, just as it’s OK to gain a lot. Experience flow is a function of character development and player awareness of character issues; players who are still figuring out what their characters are really about will have slowly progressing characters, as will players who opt to tone the drama down a bit. In the Solar System, the journey is the point, not the destination.
  %section#gaining-and-using-advances
    %header
      %h2 Gaining And Using Advances
    %p
      The primary means of gaining experience points during play is for characters to do things or have things done to them —
      = succeed "," do
        %em events of play
      in other words. Whenever such events happen to trigger a Key possessed by a character, the player should make mention of this to the other players and jot down the number of experience points gained. (Shouting “Bingo!” would be cheeky, but not entirely inappropriate.)
    %p What this means in practice is that players will constantly maneuver their characters into situations that are pertinent to their Keys: this will allow the player to develop the character and the character to gain strength for important conflicts ahead in his story. Such strength may then be brought to bear when it really matters.
    %p
      Gained experience points are ultimately traded in for
      = succeed "," do
        %code Advances
      the actual currency of character developments. Whenever the player accumulates enough experience points for an Advance, he can just make a note of it and start looking for interesting ways to spend the Advance.
    %p
      Advances cost 5 experience points each. Players might like to keep track of both
      = succeed "," do
        %code free Advances
      which they have not used for anything, and used Advances, which shows how many Advances they have already used to develop their characters; the latter number is not actually used for anything, but groups often enjoy some small upmanship related to the xp hunt.
    %table#benefit-advance-costs.table.table-bordered.table-striped
      %caption Benefit Advance Costs
      %thead
        %tr
          %th Benefit
          %th Cost
      %tbody
        %tr
          %td
            New Ability at
            %code Mediocre
          %td 0
        %tr
          %td
            %code Mediocre
            Ability to
            %code Competent
          %td 1
        %tr
          %td
            %code Competent
            Ability to
            %code Expert
          %td 2
        %tr
          %td
            %code Expert
            Ability to
            %code Master
          %td 3
        %tr
          %td
            %code Master
            Ability to
            %code Grand Master
          %td 4
        %tr
          %td Add to Pool size
          %td 1
        %tr
          %td
            %em - for each full 10 points Pool size
          %td +1
        %tr
          %td Add a new Secret
          %td 1
        %tr
          %td Add a new Key
          %td 1
    %p Advances may be spent on Abilities, Pools, Secrets and new Keys as well. They are all costed according to the table to the right. While each of those character benefits is paid for in Advances, there are some particular considerations related to each:
    %p
      %strong New Abilities
      may only be added when the character has gone through some events justifying the new aspect. Finding a teacher, undergoing physical transformation, working at a new job or concerned study are good examples. This does not concern implicitly present
      %code Mediocre
      Abilities, note: if an Ability is such that the character has some background exposure to it (it’s not entirely inconceivable to his lifestyle or being), it may be added whenever the player gets around to writing it down.
    %p
      %strong Existing Abilities
      may always be bought up, even in the middle of scenes, should the player have sufficient free Advances available. It is quite acceptable to invest in an Ability just before you need to use it, for example. However, the same Ability should not be increased several steps at once, should such extraordinary circumstances ever become an issue.
    %p
      %strong Pool size
      may be gained at will with sufficient Advances, but the character may only improve a Pool once in each scene. Note that very high Pools are cumulatively more expensive.
    %p
      %strong Secrets
      (further explained in
      = succeed ")" do
        %a{:href => "secrets-and-crunch"} Secrets and Crunch
      are exceptional in that they require the character to fulfill specific requirements in the campaign, such as finding a teacher, before the character may acquire such. Many Secrets concern rather specific individuals, such as Secrets only revealed to members of some mystery cult; the character needs to fulfill or get around these default requirements to gain the Secret.
    %p
      Finally,
      %strong Keys
      may be added only if the character has not had the same Key before and the player deems the new Key an appropriate part of his character’s harmony.
    %aside.well.variant
      %h2#variant-slower-xp Variant: Slower XP
      %p Slowing down the rate of experience gain artificially is not a good idea; the system works best when the players score points at the rate they find comfortable.
      %p Regardless, the group may find that they want their campaign to proceed slower than the default; this would allow for more setting exploration and development of character depth, which many would prefer to having the campaign be finished quickly.
      %p The simple and quite painless solution is to change the default Advance cost: the default cost is tuned to a practical minimum, which means that most groups will find characters gaining several Advances per session. This is easy to change into a more leisurely pace by making Advances more costly.
      %p As a rule of thumb, consider upping the cost of an advance in five point increments. Always use the same Advance cost for all characters in the campaign and do not change any other constants (e.g. Key Buyoff).
      %p The best way to find a good Advance cost for a group is to start the campaign at 5 XP per Advance and go up at intervals if the characters seem to be gaining too many Advances. Going above 20 XP is probably not a good idea even then, though.
  %section#advance-debt
    %header
      %h2 Advance Debt
    %p
      In some situations a character comes upon a situation where they should immediately gain some benefit, even if they don’t have the Advances to pay for it. For example, in a fantasy setting there may be a
      %code Secret of Nobility
      that represents special divine mandate bestowed upon the leaders of the people. When a character is then inducted into the noble ranks in feudal manner, the group might deem it obvious that he would gain the Secret in question right away.
    %p
      If the player cannot pay for a benefit immediately in a situation like that, he goes into
      %code Advance debt
      regarding the new benefit until he manages to pay for it by gaining experience. A character in Advance debt suffers one penalty die for each Advance’s worth of debted benefits activated in play; if the benefit is not immediately utilized in conflict (such as a Key or specific types of Secrets), the Story Guide saves the penalty dice and assigns them to the character’s checks later, as soon as practical.
    %p A character in Advance debt has to pay off the debt immediately when he gains new Advances, and may not acquire any new benefits voluntarily meanwhile.
    %p
      Of course, the group might also decide that a character fails in learning some benefit — a character studying the
      %code Paradoxes of defense
      might be simply wasting his time until he gains some real martial experience (and experience points), for example.
  %section#losing-benefits
    %header
      %h2 Losing Benefits
    %p A basic principle of Solar System is that characters do not usually lose Advances in a haphazard manner: if a character comes to a situation in the fiction that necessitates losing some benefit, the player regains the equivalent number of Advances. For example, should a character own a valuable item that is represented by a Secret, he’d regain the Advance from the Secret if the item was lost somehow.
    %p
      The only exception to this general rule is that when characters set aside some aspect of their being in full cognizance, the Story Guide does well to determine whether the character retrieves any Advances. Often a Secret that might be discarded in this manner makes special note of it. The
      = succeed "," do
        %code Secret of Nobility
      for instance, might specify that characters who commit heinous deeds and are judged for that by their liege lord may be divested of the Secret without receiving recompense. Regardless, the player needs to always know of the potential Advance loss before making the pertinent choices.
    %p A separate issue is that character cannot usually voluntarily remove benefits (and regain Advances) just like that. Removing benefits is only possible when it would make sense in light of the events in the game: giving away a treasure is a common example.
  %section#transcendence
    %header
      %h2 Transcendence
    %p
      %code Transcendence
      is the natural end-point of a character’s story. The current context becomes meaningless for the character who surpasses his limitations and leaves the campaign for something more. It is a combination of mechanical and narrative pressures telling the player that it is time to make some final decisions over who and what this character is about.
    %p
      The Transcendence happens when the character achieves the result of
      %code Transcendent (7)
      in an Ability check made for any reason. This only possible for
      %code Grand Master (4)
      characters rolling a perfect result, so a beginning character won’t be achieving Transcendence. However, as a campaign progresses and characters develop strength, it is only a matter of time before one is pushed to break all boundaries in this manner. A player might intentionally delay Transcendence by investing Advances in lateral development, but likewise another player could go directly for the ultimate power. Thus reaching Transcendence might take anywhere from one session to a score of them for a given character.
    %p When a character Transcends, that means the end of the campaign insofar as that character is concerned: the player has until the end of the current session to tie off any loose ends and exert the influence of the character before narrating his final fate: the character might become a powerful secondary character, disappear into the legend or get taken into the heavens, all depending on the campaign setting and situation.
    %p
      A player with a Transcending character has the right and obligation to narrate his character’s last moments in the campaign to narrate his character’s last moments in the campaign. Generally speaking this means that any outlying issues that concern primarily that character should be determined by the player without further interference from the rest of the group. It is also traditional for the player to narrate one
      %em permanent change
      to the setting wherein the character’s influence turned the world; Transcendence never passes without a mark. Starting or ending wars, overturning a scientific paradigm, healing a culture or inspiring a religion are not out of the ordinary in a campaign with an epic tone, should the player do good with the groundwork, earlier.
    %p There is a bitter side to the Transcendence as well, however, and the player should not forget that. Being too large for the world means that those issues that can’t be set right just by stepping up and declaring a solution will now be left unresolved. A big part of pre-Transcendence play is having the forces of the setting pressure the character into taking his stand and Transcending before he is ready, before he is in place, before he can travel to his home for one more time. It’s up to the player how he deals with these themes, but the whole group is free to proffer suggestions!
    %p Having a character leave the campaign via Transcendence doesn’t have to end the campaign; the player might well create a new character that approaches the setting and the current focus of play from an interesting, new direction.
    %aside.well.variant
      %h2#variant-transcendent-play Variant: Transcendent Play
      %p Usually Transcendent characters do not need conflicts or Ability checks; the player just narrates how the characters goes out of play. This narration might be paced through the session and reach out considerably from the conditions of the Ability check that caused the Transcendence.
      %p However, in some rare situation there might be need for conflict with Transcendent characters, such as when another player character is tangled with the goals of the Transcendent. The following rules may then be used:
      %p The players of a Transcendent character never rolls the dice, he is always assumed to gain a +3 result. Conflicts cannot be extended with a Transcendent character. Transcendent characters refresh all Pools between scenes. The only exception is that Transcendent characters conflict with each other normally.
      %p The Story Guide probably should never have secondary characters engage a Transcendent character in conflict.
    %aside.well.variant
      %h2#variant-reincarnation Variant: Reincarnation
      %p
        Some players do not feel like having their character Transcend yet. The solution is simple: do not roll a
        %code Transcendent
        check result. Not raising an Ability to
        %code Grand Master
        (or using Abilities at that level only reluctantly) makes this pretty easy. Raising an Ability to Grand Master is like saying that your character’s story is almost done.
      %p
        Often, though, the better question to ask is
        %em why
        a player doesn’t want his character to Transcend. The reason might be something that doesn’t really fit the ethos of the Solar System, like wanting to immerse in the character persona indefinitely in a campaign without an end. The reason might, however, instead be that the player has more ideas and new stories for the character.
      %p In the latter case a group might, depending on the particulars of the campaign, agree that characters that Transcend in a certain manner might return to play as beginning characters; for example, a character that discarded his body to become an AI in scifi game might return as a new character. Such returning characters are rebuilt as new characters and do not retain any mechanical benefits. It depends on the particular case how much of the character is still the “same” as before.
      %p (An alternate way of transforming the character is to simply half all Abilities, rounding down, lowering all Pools to 1/2/3 points. This method preserves Secrets, which might be important for the character to “feel” right.)
  %section#wrapping-up-the-campaign
    %header
      %h2 Wrapping up the campaign
    %p The Solar System does not really address how and why the individual campaign actually ends. It is common for a player or the whole group to be satisfied with the game at some point, which is always a good time to stop. This might even be in the middle of a session sometimes, when the players only then realize that all the good stories have already been told and it’s time to wrap up this particular game.
    %p Usually campaigns do not naturally end as long as there are open dramatic issues still unresolved in the game. Some groups might benefit from keeping explicit note of whether there are still knots untied just so they can roughly estimate when the game approaches its end. Keeping the issue on the table a good ways before the actual end ensures that everybody is on board when the closure finally comes.
    %p Other groups prefer to plan for the long term, or at least presume that the game will go on for a long while yet with no agreed-upon ending. This usually ends up with the game “drying up” by implicit consensus when the players each individually lose interest and fail to arrange for a new session for some time. This method lacks the explicit and satisfying epilogue a deliberately ended campaign gets, but some players feel that this is preferable to “jinxing” a game by agreeing on an end in advance; after all, the game might continue to even greater adventures if it weren’t amputated unnaturally!
    %p However, assuming that the group is interested in orchestrating an ending, sometimes players have some light difficulty with characters who Transcend at different times. What should a player do after his character Transcends?
    %p One approach is to simply create a new character and continue play from a new, different viewpoint. This works if there are still interesting angles in the setting and situation to be addressed, and if the campaign is not already winding down. If there is not sufficient space in the campaign narrative for a new protagonist, however, the new character might be doomed to a supporting role from the start.
    %p A variant that works sometimes is for the characterless player to promote a secondary character already established in the campaign into his new character. An important antagonist might be very rewarding to play in the twilight sessions of an extended campaign, as making the character into a player character gives him new depth and direction that might work for some excellent turns. Likewise, a long-term side-kick or ally of a character, perhaps the player’s own, has already established motivations and a role in the story.
    %p Another method is to make the characterless player into a Story co-Guide while the game approaches an end. There’s certainly enough work for several players in framing scenes, playing secondary characters and doing all those other things the Story Guide does. The Story co-Guiding role is also very flexible in that the multiple Guides may split up their tasks very fluidly, ranking from extensive audience participation to intensive dictatorship. The original Story Guide might even opt to take up a new player character to make the switch complete.
