%section#story-guide.chapter
  %header
    %h1 Story Guide
  %p Being the Story Guide in the Solar System is an important job that might be deemed a bit more challenging than being a player. That’s mostly because the game stumbles sooner if the Story Guide isn’t up to the job than when the players are not, though; if you’ve decided to be the Story Guide, be sure to remind the players of how the overall success of the game is up to them as well.
  %p Trying to make a roughly exhaustive list of the different tasks of the Story Guide is a bit difficult, but let’s try it regardless:
  %ul
    %li The Story Guide might do some preparation between game sessions. This helps him manage the rest of his responsibilities a bit better.
    %li The Story Guide presides over play and eggs it along, kinda like a chairman who reminds the other players to move on to the next step. This works on both large scale (framing scenes) as well as small (“Whose turn is it, again?”).
    %li The Story Guide frames scenes, which is one half chairmanning (that “Whose turn is it, again?”) and one half dramatic coordination. He needs to see to it that all player characters get meaningful opportunities and meet interesting situations.
    %li The Story Guide by default plays all secondary characters. Usually this means making judgements over their motivations and priorities, complemented with a dash of play-acting.
    %li The Story Guide establishes conflict stakes and guides the narration of conflicts accordingly.
    %li Alongside the scene framing powers this allows the Story Guide to pace and coordinate the process (but not the content) of play.
    %li The Story Guide is the traditional high authority in any rules disagreements, because he might be a tad more detached and neutral. It’s not unusual for the other players to turn to the Story Guide for an answer in a rules tangle.
  %p While that list of responsibilities is a bit to the heavy side compared to what the players have to do, surprisingly many roleplayers seem to like the opportunity to flex their creative muscles and engage with the game on this level. As all things, being the Story Guide becomes easier with experience, and it is also very satisfying to be able to facilitate an intricate dance of words and dice for a crew of imaginative and entertaining individuals.
  %aside.well.variant
    %h2#variant-shared-story-guiding Variant: Shared Story Guiding
    %p As the above discussion of Story Guiding duties demonstrates, the task is composed of several parts that might well be distributed differently in a particular group of players.
    %p Some groups will consider it fruitful to to have players share in playing secondary characters, especially if they do not like the pure audience role.  The benefit is added interaction, the drawback that players might lack the overall perspective into what the secondary character is supposed to be doing to protagonize the player characters in the scene.
    %p Rules and conflict arbitration are duties that nigh-on disappear in experienced groups simply because everybody knows where play is heading, leaving little need for Story Guide regulation.
    %p Perhaps the most distinctive kind of “shared Story Guiding” is the sort where players distribute scene framing and backstory authority, as well as attendant adventure preparation duties. This often works in turns, so that each player acts as the Story Guide in turn on a session-by-session basis.
    %p
      Finally, any group might wish to establish Secrets that explicitly share Story Guiding tasks in different ways. The
      %code
        %a{:href => "appendices#contacts", :rel=>"popover", :data=>{:title=>"Secret of Contacts", :content=>"<p>The character knows plenty of people all around.  The player may introduce a new secondary character with a short phrase or claim a character the Story Guide just introduced as his contact.</p><p><strong>Cost</strong>: 3 Pool, type (and mix) depending on the nature of the relationship: Vigor for ol' buddies, Instinct for lovers, Reason for colleagues and so on.</p>"}} Secret of Contacts
      is just such an example, seizing a small bit of backstory authority from the Story Guide.
  %section#preparing-for-play
    %header
      %h2 Preparing for play
    %p
      It is very useful for the Story Guide to know the rules, as well as the reasons for how they are. This is, however, a one-time task. Most of preparations for play concern the more interesting issue of preparing
      = succeed "." do
        %code adventures
    %p There exists a historical precedence of roleplaying game adventure preparation that should perhaps be addressed in the negative: Solar System adventures are not prepared by thinking up a plot flowchart or an obstacle course, which are the two common ideas about how roleplaying game adventures are prepared. In general, being the Story Guide is not about controlling anything at all; think in terms of throwing stuff at the rest of the players and seeing what sticks, rather than trying to control everything yourself.
    %p
      When you’re the Story Guide and you prepare for a session of play, think in terms of fictional
      %code elements
      that you’d be interested in seeing make an appearance in the adventures and stories of that session. What’s more, think in terms of what the
      %em rest of the group
      might wish to see as well. You might even ask them in general terms, but don’t go into specifics - you’ll all enjoy the game more when there’s a certain amount of uncertainty and neutrality in what you present. Surprise your friends!
    %h3#stuff-you8217re-interested-in Stuff you’re interested in
    %p Remember to prepare material that you find interesting yourself. If the campaign is set in an old-school scifi setting and you’re interested in Asimov robot themes, be sure to plan on robots: develop advanced crunch related to robots, create some robot secondary characters or robot programmers or whatever, put in tense situations involving robots. Have fun with the game.
    %h3#follow-the-focal-points Follow the focal points
    %p
      Or, more generally, follow the setting: you as a group started the game based on
      %a{:href => "starting-a-game#choosing-a-setting"} a setting
      and
      = succeed "." do
        %a{:href => "starting-a-game#focal-points"} some focal perspective upon it
      Be sure to involve the setting and the current focal set-up in your preparations to be relevant; if the rest of the group is all about laser swords and stuff, give it to them.
    %p Also remember that the focus of a campaign will shift over time. Adapt to that. This is stuff you might well discuss with the rest of the group. “So, you guys cool with putting aside that whole laser sword paladin thing and doing space pirates, instead?” is the sort of general campaign planning that might be shared with the rest of the group; after all, the other players have, through their characters, quite a bit of control over what actually is relevant in the game. You’ll save work by asking the others whether you’re interpreting the shifting focus of the campaign correctly.
    %aside.well
      %h2#protagonism Protagonism
      %p I write a lot about protagonism, so perhaps it’s wise to define that a bit in case the reader doesn’t do literary theory.
      %p
        %code Protagonism
        is the property of being in focal moral position in a story. The protagonist is the lead character, simply enough; the story-teller follows his exploits and exposes his feelings to the audience to produce drama.
      %p In Solar System, the player characters are always the protagonists. We care what they think and they have the power to make decisions and change the world
    %h3#involve-character-crunch Involve character crunch
    %p Look at the character sheets the other players made: what sorts of Keys, Secrets and Abilities do their characters have? These tell you a lot about the sort of material you’ll want to prepare, as the other players have presumably chosen them according to what they’re interested in. Thus, for each Key, you might ask yourself how that Key might be relevant to the choices the character needs to make about the material you prepare. And for each Secret, how that Secret allows the character an edge in specific situations.
    %p
      For example, if a character in your game has the
      = succeed "," do
        %code Key of Big Game Hunter
      you wouldn’t go far amiss to prepare some big game situations. Even if the game setting fully justified having the character get stuck in the middle of Manhattan and going to a dress party instead, you’d be a bit of a fool to counteract player expectations like that. Similarly, if my character had the
      = succeed "," do
        %code Secret of Punching Like it Hurts
      I’d certainly expect the Story Guide to leave some venue for violent solutions in his preparations.
  %section#elements-of-preparation
    %header
      %h2 Elements of preparation
    %p Above I discuss the guiding framework for preparing an adventure; I should probably continue on that a bit by describing the kinds of things that are useful to prepare in the first place.
    %h3#places Places
    %p You’ll be needing some imaginary places during play to frame scenes in. It depends on the setting whether you’ll need to prepare such or not. For example, a campaign set in Middle-Earth or some other well known fantasy world might arguably get by with just the locations from the books: a scene set in Minas Tirith, perhaps, followed by another in the Entwoods and so on.
    %p Even if the campaign setting does not really describe lots of specific places, you might get by well enough by improvising. Film noir is an example of a genre that doesn’t put much emphasis on specific places: events happen in pretty generic hotels, pubs, apartments and so on.
    %p Barring those conditions, however, preparing places is often just the thing a campaign needs. You might know beforehand that the campaign is supposed to be all about gothic horror, but also deciding that the first scenes will be framed at a sleepy fishing town and that you’ll be wanting to use a Jewish synagogue in Prague at some point goes a long way towards concrete preparations.
    %p Also remember to give names to any places you invent before play. I have this rotten habit of doing prep in my head, which often means that I know that I’m introducing a hidden jungle city, but then I don’t have any name for it and end up putting together nonsense syllables in the middle of play. The smart Story Guide names what he prepares.
    %aside.well
      %h4#examples-of-places Examples of Places
      %ul
        %li The cold plateau of Leng, where different realities converge. A terrible corpse-eating cult lives there. A player character might end up here in search of occult stuff of some sort.
        %li The forest of Brodwood next to the town of Middlehaven. The idealized sort of English forest, useful for meeting with outlaws and other fringe people not welcome in Middlehaven.
        %li The space cruiser that captured the player character in the last session has an extended service deck with a maze of pipes and cords.
    %h3#people People
    %p Secondary characters are absolutely crucial to good game prep; as we’ll see later in the chapter, it’s very difficult to function as the Story Guide without them.
    %p
      When preparing secondary characters, plan folks who can provide
      %code antagonism
      and
      %code support
      for the player characters. Antagonist characters are those who resist the probably goals of the player characters. Supporting characters are those who motivate and question player characters. Of course, the same character might well end up as both antagonist or support at different times.
    %p Furthermore, when thinking of secondary characters, look into giving them real motivations and ties to the setting. While you might prepare a character with an eye towards having him resist a character’s kingship ambitions, his actual role will only evolve in play when the player actually decides whether his character really wants to be the king. If you don’t have good motivations and ties for your secondary characters, you won’t be able to decide upon their actions naturally.
    %aside.well
      %h4#examples-of-people Examples of People
      %ul
        %li Annie Crook is a poor shop worker with a terrible secret. She needs help from a trustworthy person or her life is soon forfeit.
        %li The Space Duke hides behind a mask in his effort to establish an independent star nation. He’s ruthless at it.
        %li Gargamel the wizard is greedy for gold and opportunistic as well; he will surely act to further his perceived interests with cunning magics.
    %h3#situations Situations
    %p Finally, situations are very useful to prepare, almost as much so as secondary characters. A quick-thinking and experienced Story Guide might do quite well with improvisation, but most will want to create some situations before play.
    %p
      A “situation” we’re interested in here is an event you can frame into the game according to the advice in
      = succeed "." do
        %a{:href => "playing-the-game"} Playing the Game
      Furthermore, we want such a situation to be both
      %em interesting
      and
      = succeed "." do
        %em open
    %p
      An
      %em interesting
      situation is created by hooking it into the issues and themes of the setting or a specific character. For example, women in distress are an old standby for Story Guiding, being as that’s the sort of stuff stories tend to include nigh-on universally, due to how we humans are and what interests us. A more specific take might be to have a vampire hunter character find out that his mother is a vampire; this wouldn’t necessarily be so interesting if not for the character’s vampire hunting vocation clashing with his mother’s condition.
    %p
      The situation you create needs to be
      %em open
      as well, which means that you don’t dictate player character reaction to the scene. Just having ninjas come in and attack the character isn’t a situation like we mean it, really, in that the Story Guide is pretty much expecting a ninja fight at that point. If the character has some reason not to just resolve the situation in the obvious manner (escaping, fighting, surrendering, failing in any of the above), then we’re cooking: if the character could escape from the ninjas by leaving his trusty horse to them, for example, then the situation starts to have some teeth. The smart reader will see how this links up with the advice in
      = succeed "." do
        %a{:href => "playing-the-game#choice-as-content"} Choice as Content
    %aside.well
      %h4#examples-of-situations Examples of Situations
      %ul
        %li First contact with aliens is an excellent situation to have in reserve, as any character will surely have some sort of interesting reaction to it.
        %li The character is a circus entertainer whose best friend is “Bill, the last buffalo.” What happens when the ringmaster wants to put Bill to sleep due to a long sickness?
        %li A colossal creature approaches the village, blocking the sun and wilting the grain. Most anybody will have an interest in the situation, if not the power to do something about it.
    %aside.well.variant
      %h2#variant-key-elements Variant: Key Elements
      %p
        Most Story Guides prepare material for play. The group may decide to reward this preparation in the form of
        = succeed "." do
          %code Key Elements
        When this rule is used, the Story Guide will keep a list of the elements he has prepared for play; these are the Key Elements. Just like Keys, Key Elements reward experience points to the characters who trigger them:
      %ul
        %li
          Places reward
          %strong 1 xp
          to the characters who come upon them. These might be whole new lands or rooms in a palace - whatever the Story Guide prepared.
        %li
          Persons reward
          %strong 2 xp
          to the characters who meet them first. In general, count only named individuals, not extras.
        %li
          Situations reward
          %strong 3 xp
          to the characters who experience them. See the main text for more detailed explanation of how to build these.
      %p When preparing places, people and situations, put them all on the list of Key Elements. During play reward the experience to characters who interact with this prepared material.
      %p The idea behind Key Elements is two-fold: it supplements the experience flow from Keys and rewards creating prepared material as well as experiencing it. The Key Elements list might also be helpful to Story Guides like me who mostly work in our heads, as it forces keeping at least a little bit of record if we want to reward elemental experience at all.
      %p Usually the Story Guide will keep his list of prepared Key Elements mostly hidden from the other players, although he might reveal some if he likes. Used elements are crossed over as the characters experience them, while elements that go unused are carried over to new sessions. The Story Guide might find the Key Element list useful as a guideline for making his preparations; if the list from last session is nearly empty, it might be a good idea to add some ideas before the next session.
  %section#adventure-map
    %header
      %h2 Adventure map
    %p
      One more thing about preparing for the game: the above advice might all seem a bit abstract and even difficult if you’ve not done this sort of thing before. Thus it might be useful to consider a specific popular method for preparing a Solar System adventure, called an
      = succeed "." do
        %code adventure map
      It works like this:
    %ul
      %li Write down all player characters on different corners of a sheet of paper. These are your protagonists the prepared materials are supposed to interact with.
      %li
        In the middle of the sheet, jot down some interesting places and concepts from the campaign setting. This is the
        %code material core
        of your adventure; just pick something you yourself find interesting. This is probably a strong core image of some cool stuff you’d like to see in the game, such as an old Russian nuclear missile rusting out on the taiga, or whatever floats your boat.
      %li Around each character, write down 3-5 most interesting Abilities, Secrets and Keys of the character. Have at least one Key from each character, those are the most important bits. Thus you have focused your attention to some specific aspects of each character.
      %li Fill the rest of the sheet with people and situations that connect the material core of your adventure with the crunch of each character. Draw connections between the elements. Try to have around three connections to each character.
    %p After finishing the adventure map you have a list of places, people and situations connected logically (in the sense that you know how to jump from one to the next during play while still making sense) with both the player characters and your core material. This is usually enough for a session or two; just make a new adventure map when the old one runs out.
    %p If you find an adventure map useful, experiment with other methods as well. The preparations that prove most useful depend on the campaign and the group of players, really, as there are differences in how characters connect to the setting and how the other players react to your provocations. You might find, for example, that you don’t need to particularly connect your prepared material with individual characters, as the other players are more than proactive enough in protagonizing themselves.
    %aside.well
      %h2#seeding-crunch Seeding Crunch
      %p A good general trick for adding to your adventure map: develop nice new crunch for your co-players and introduce it via the adventure. Look at each character in turn and develop something interesting for that character: a new spell, perhaps, or a piece of cyberware, or a weird royal prerogative.
      %p Then give these Secrets and other stuff to your secondary characters and use them against or for the characters. Give the players an opportunity to learn the new, sexy stuff.
      %p If you do this right, this players might find their characters developing in directions they did not expect when starting with them.
  %section#framing-scenes
    %header
      %h2 Framing Scenes
    %p
      The primary responsibility of the Story Guide during play is to frame
      = succeed "." do
        %a{:href => "playing-the-game#scenes"} scenes
      This is where the aforementioned prepared material comes in: places to set scenes in, secondary characters who interact with player characters and so on. Strictly speaking whatever preparations you do as the Story Guide are just to get you over the hurdle of framing scenes as necessary - what sort of preparation you need to do depends on your skills in improvisation and the nature of the campaign.
    %p The overall purpose of framing scenes in the Solar System is to address character issues related to each player character. This is mostly done via plot: the characters move about in the setting, interact with it and change as a result. The Story Guide can facilitate this process by framing scenes that are relevant to the characters; he is not so much choosing the contents of the game session as focusing on the bits that actually interest the play group.
    %p As a rule of thumb, when framing scenes, consider three principles:
    %ul
      %li
        %strong Equality
        is giving protagonizing attention to all characters equally. If all player characters have their own stories, you might just frame scenes for each in turn clockwise around the table, for example. If some characters share a story, perhaps you’ll only frame once for the two of them.
      %li
        %strong Continuity
        means allowing the consequences of scenes to impact the following events. If the player character offended his lover in the last scene, perhaps the next one will have him accosted by angry men-folk of the family, for example. This should make intuitive sense.
      %li
        %strong Interest
        means that the scene is pertinent and intriguing. This is what you prepared for in pre-creating elements before play; all those elements were designed to be somehow interesting for your group.
    %p Generally speaking, when framing scenes, checking each of the above principles should allow a Story Guide to have a sense of “what to do next”, which is pretty much his most important task in allowing the game to go on. Usually the best bet is to prioritize the three principles in the given order: frame a scene for the character who needs the attention, and follow any ongoing story he might have brewing. If nothing interesting is going on, throw in some prepared material.
    %p
      When framing scenes, note that scene framing powers are
      %em consensual
      in the sense that the framed scene needs to somehow represent character intent: you can’t just frame a scene into which a character would not have walked himself.
    %p
      Furthermore, the advanced Story Guide will consider issues of
      %code dramatic coordination
      when framing scenes, simply because the scene framing prerogative allows him to be a powerful force for interesting, punchy story. By skipping past irrelevant and uninteresting bits and putting in amazing coincidences and other narrative conventions the Story Guide allows his co-players to cut straight to the issues they are interested in addressing.
    %p Doing dramatic coordination does not mean controlling story content, however; the Story Guide does not need to decide whether a given character is a hero or a villain, or whether the player character is supposed to fall in love and save the princess or not. All this matter of story is the purview of the other players, the reason for their being there and playing in the first place.
    %p Instead, consider the following techniques and priorities of dramatic coordination and note how they do not materially force the emerging plot of the game so much as allow whatever the plot is to come to the fore quicker and with more coordination.
    %h3#specific-techniques-of-dramatic-coordination Specific techniques of dramatic coordination
    %ul
      %li
        %strong Tight framing
        is when the Story Guide skips forward into the actually interesting interaction in the story. So when the curious PI character goes out to find out who killed Molly, the Story Guide does not frame a scene at a bar where nobody knows anything; rather, he skips ahead to when the PI has already worked his beat for the night and finally comes to some place where he might dig up the dirt he was looking for.
      %li
        %strong Dramatic coincidence
        is when the Story Guide stretches believability of timing and luck to bring dramatic issues to the fore. Thus, when a character is going out to slay the sheriff as revenge for murdering his brother, but the brother is really alive and the character just thinks he’s dead, the Story Guide has full authority in determining whether the next scene is the one with the brother’s reunion or the one with the fight against the sheriff. How likely it is for the brothers to meet on the road or whether the brother would “really” revive in time to stop the revenge or stuff like that only matters when and if a character makes a conflict out of it, which is again the prerogative of the player, not the Story Guide.
      %li
        %strong Crossing
        is a special sort of dramatic coincidence where the Story Guide intentionally prepares backstory material and frames scenes that tie the stories of individual characters together. This is key in running an interesting story with independent player characters! When one character is an asteroid miner and the other is a sleek Martian businesswoman, their stories will not cross unless the Story Guide makes them do so by introducing contacts in the form of secondary character interests and postulating effects the characters have on each other’s lives.
      %li
        %strong Threats
        are another special sort of dramatic coincidence (really, there are a whole bunch of these; I’m just trying to get you into the mindset) where the dragon just happens to steal the player character’s girlfriend from the village instead of some nameless maiden. Skitch movie genres usually overdo this stuff, so the wise Story Guide does some foreshadowing and keeps to the general style of the campaign in these matters. It’s easy to justify all kinds of dramatic coincidences with little thought.
      %li
        %strong Resting
        is deliberately withholding consequences contrary to player expectation in an effort to allow for reflection and player direction. So instead of following a scene of frantic pursuit through the streets of Cairo with some more of that, have the player character stumble into a shady opium den with no immediate danger; the end-result is that the player gets an opportunity to evaluate the events so far and set a new course for his character.
    %aside.well
      %h2#backstory-authority Backstory authority
      %p
        An important principle related to preparing materials and framing scenes is the concept of
        = succeed "." do
          %code backstory authority
        This means that whatever the Story Guide establishes into play, he’s the authority over those elements. And what a player establishes, he’s the authority over that.
      %p Backstory authority comes up in practical application when somebody in the group needs to decide whether the Arcturan aliens can breathe underwater, whether there’s a hospital in town or whether the king happens to be a redhead. Barring any setting sources, the guy to establish this stuff is the Story Guide; it’s just his job to provide meaningful scenes, part of which is to determine the conditions to be such that they facilitate choices and conflict situations.
      %p On the other hand, a player usually has backstory authority over his own character’s background, just because he’s the main guy when it comes to shaping the character’s protagonism. So it’s at least polite to ask a player before revealing that his character used to be a meth addict in Bangkok during the ’80s. The player will likely accede if the suggestion stays true to the character and is somehow meaningful for the campaign.
      %p
        The same principle works in reverse as well: a player might well
        %em suggest
        that there could be a hospital in town, and most of the time there is no reason not to go with it. As always, the Story Guide makes his decisions on the basis of dramatic coordination.
  %section#secondary-characters
    %header
      %h2 Secondary Characters
    %p Playing secondary characters is a most important Story Guide task. As I described above, there are two primary functions you’ll want secondary characters to fulfill.
    %ul
      %li
        %strong Support
        characters are named secondary characters with personalities and goals. Their goals require the aid of player characters, so they’ll come into scenes to make demands to the characters, thus insisting on choices.
      %li
        %strong Antagonist
        characters resist whatever the player character is trying to achieve. They also have names, personalities and goals, which is what makes them antagonists in the first place: they want something contrary to the player character’s interests.
    %p Pretty much all secondary characters that are not significant in those ways fall into a third category:
    %ul
      %li
        %strong Extras
        are usually unnamed characters with little in the way of story-significant goals. They fill the ranks and provide some minor support or antagonism.
    %p Obviously enough the Story Guide won’t know before play which characters end up being support, antagonist or extras. That only develops in play, even if it’s easy enough to point these roles out afterwards.
    %h3#mechanics-of-secondary-characters Mechanics of secondary characters
    %p In principle all characters work according to the same rules, whatever their role. In practice most Story Guides will find that it’s a tad too dull to provide full statistics with Pool tracking and all for their secondary characters, especially as they are working with an essentially unlimited budget and thus need to just set some “believable” numbers for the characters.
    %p
      The Story Guide has the prerogative of taking short-cuts in creating the statistics for secondary characters. What I do myself is, I give each secondary character a “role keyword” which describes the character’s competence; a normal policeman might be “Police:
      = succeed "\"" do
        %code Competent (1)
      and so on. This is simple enough to do on the run as we play.
    %p When my secondary character needs an Ability rating for something, I assign it based on the keyword:
    %ul
      %li If the situation calls for skills related to the character’s role, his Ability is equal to the keyword value.
      %li If the situation is only partially or tenuously related, the Ability is one rank lower.
      %li If the situation does not relate to the role keyword at all, the Ability is two ranks lower.
    %p To avoid having to assign Pool relationships, and to avoid excess tracking, my secondary characters only have one Pool. I give each secondary character a low or high general Pool based on how deep his motivation is; around 8 points is “high” and around 3 “low” here. So an extra I haven’t thought of at all before the scene would have Pool around 2-4, while the passionate, multi-faceted heroine would work with up to ten points.
    %p As for Secrets, that’s where most of my mechanical attention goes with secondary characters: new, weird Secrets are easy and fun to introduce via secondary characters who have the background for possessing them. I also give myself the prerogative of adding Secrets on the fly as makes sense for the character, all in the interest of saving me from having to plan the secondary character statistics in advance.
    %p A special note on extras: an individual extra set against a player character might get statistics like above (usually quickly followed by a name and motivation; you can’t conflict in this game without motivation), but when I have many, I invariably promote one into a captain on the spot and only use the rest of the extra mob as an environmental condition. The Solar System presumes that only named characters with individual motives participate in conflicts: represent masses of people as Abilities, Effects or Secrets, instead.
    %p Regardless of the method used in tracking the mechanical state of secondary characters, the Story Guide should always set the statistics for the characters in terms of the setting. So an influential character should have high Abilities, a deeply motivated character deep Pools and so on. This is in contrast to some other games wherein you’re supposed to balance potential antagonists in relation to how strong player characters are; the rules of Solar System ensure that antagonists can’t really overpower characters any more than they should.
    %aside.well
      %h2#untouchable-characters Untouchable Characters
      %p
        An oft-stated feature of the Solar System is that
        %em nobody
        is untouchable and, consequently, nobody is meaningless. The way Ability checks work, even the most mediocre of characters may overcome the most powerful entities of the setting when the conditions are right.
      %p If a given genre needs absolutely overpowering “characters” like fantasy gods, it’s better to handle them via the rules on conflict stakes leverage, scope and propriety: handle such characters not as a source of adversity to be conflicted with, but as environmental conditions similar to gravity of light; such gods might cause conditional penalties to Ability checks, but could not be conflicted against in a meaningful manner.
  %section#running-conflicts
    %header
      %h2 Running Conflicts
    %p
      A major responsibility of Story Guiding is the task of
      = succeed "." do
        %a{:href => "conflict-resolution#conflict-stakes"} determining stakes in conflict
      While an experienced group will get the stakes right most of the time even with the Story Guide just nodding along, it’s not at all rare that the Story Guide needs to insert some neutral consideration in terms of
      = succeed "," do
        %code leverage
      %code propriety
      and
      = succeed "." do
        %code scope
      It’s common that a player, advocating passionately for his character, strives for a conflict where his character can’t really do anything to achieve those goals (a matter of leverage), the goals are even not appropriate for the style of the campaign (a matter of propriety) and even if they were, it’d be more fun to break the situation down into several sub-conflicts (a matter of scope). It is very useful to have a neutral party formulating the stakes in this situation.
    %p
      Players might propose some pretty weird conflicts at times, so a good rule of thumb for the inexperienced Story Guide is to think ahead a bit and try to imagine how the player character acts in the fiction to actually achieve proposed goal. If you can’t imagine how it would happen, ask the player to clarify and elaborate. A player might want a conflcit where his character “convinces the princess to go with him”, but I wouldn’t let that stand just like that; I want to hear
      %em what
      the character is saying to convince the princess!
    %p
      Another, related issue in conflict is the narration of conflict results. This has been touched upon
      %a{:href => "ability-check#narrative-success"} several
      %a{:href => "conflict-resolution#ability-checks-in-conflict"} times
      earlier, but a specific Story Guiding issue is encouraging and guiding player narration: the players should be interested in narrating the details of how their characters win or lose conflicts, but at the same time the Story Guide should be invested in keeping things fair and sensible. Especially backstory authority tends to come up here as anybody might describe how the duke’s guards acts in the situation, while only the Story Guide has the power to decide whether there are guards nearby in the first place.
    %p As the group commits to the fiction and gets comfortable with the campaign, the Story Guide will probably find that he needs to do less guiding in conflict. Stakes-setting and narrational authority are only important in keeping the players on the same page over why they are rolling the dice; when the group communicates well, the importance of this function all but disappears.
    %aside.well
      %h2#story-guide-stakes Story Guide Stakes
      %p A notable sub-issue in guiding conflicts is that the Story Guide is not at all immune to setting “bad” stakes himself! Rather, he should just hope that the rest of the group has the presence of mind to interrupt him when he starts with the nonsense.
      %p The most typical problem in Story Guide stakes setting comes when the Story Guide has not really thought out the role and motivations of his own characters. Solar System works in an extremely awkward manner when characters do not really act like humans.
      %p The typical example of this phenomenon happens when the Story Guide sets up a fight to the death between a player character and a secondary character without preamble or heavy dramatic motivations. Fights to the death are very drawn-out affairs in this rules-system, as all participants are committed to going through all of their resources before giving up. Starting one without a good, dramatic reason is the height of folly.
      %p The way to avoid mismatching stakes and situation is to not make conflicts out of minor affairs, and to think a bit about what your secondary characters want. The first point helps in genres where player characters are supposed to slay dozens of their foes: just declare a simple Ability check to slay the success level in extras and be done with it. The second point helps whenever you feel like having fanatic ninjas attack and fight to the death: are those ninjas really so fanatic? Why do they attack? What would happen to a ninja who, say, escaped? Why did you put those ninjas in there in the first place?
  %section#rules-arbitration
    %header
      %h2 Rules Arbitration
    %p A final Story Guide task is arbitrating rules. This isn’t a Story Guide task in any rules-assigned way, but in practice it seems to work well that the Story Guide makes the calls on niggling details, perhaps followed by affirming nods from everybody else. As long as nobody questions the authority the game won’t get stuck in questioning details, which benefit does not depend on who actually has the authority.
    %p The most important bit about usurping rules arbitration authority, whether you’re the Story Guide or not, is to be fair, impartial and sensible in arbitrating the rules. If you don’t have a reason for making a ruling, don’t do it.
    %p
      One interesting stylistic issue as regards rules arbitration is
      %code formalist
      vs.
      %code realist
      rules interpretation. This has to do with case-by-case interpretation of the relationship between the mechanics and the fiction. For example, a realist interpretation of Ability ranks would be that a master swordsman needs to have
      %code Master (3)
      rank in his
      %code Swordsman (V)
      Ability. The formalist take would be that Ability rank constrains fiction only insofar as the Ability gets used and thus the character might demonstrate mastery of the sword - but whether he actually is considered a master swordsman within the fiction (by himself, others or a generic narrator) is ultimately unrelated to the existence of the Ability. He might even not have the Ability at all, losing all swordfights, but still be described as a master swordsman who just happens to lose consistently in practice due to adverse conditions of all sorts.
    %p
      The point of this discussion is that while realism is certainly instinctual, it is also not what the rules say. The rules
      %em suggest
      that a high Ability rating
      %em might
      imply an experienced character and high level Harm
      %em might
      imply some sort of damage to a character; however, this default relationship is ignored with impunity by players describing action, as actually Ability only confers a propensity to win conflicts and Harm just means that the character weakens and might get removed from play.
    %p In actual play it is wise to follow the default interpretations of what the die rolls and changing numbers “mean” in the fiction. However, it is also very fruitful to remember the case-by-case capability to step outside the convention and follow the rules by the letter, instead. Often this allows, perhaps surprisingly, a more sensible outcome.
  %section#running-a-campaign
    %header
      %h2 Running a campaign
    %p Looking at the Story Guiding process as a long-term task, generally speaking the Guide will find his job becoming easier in the long run: as the campaign gains in depth and texture, there is less need to prepare new elements out of thin air. Consequences of past play carry the campaign as it nears conclusion.
    %p When planning a whole campaign, usually the Story Guide has some notion of what he himself finds interesting in the setting - he has a backstory in mind. Put that backstory in use! Don’t save it up or pace it, but rather disclose it all as soon as you can. The player characters should get enmeshed in your interesting idea from the first session on. Ideally, have them create characters who have lead roles in that idea of yours.
    %p After you get that one good idea out of your system, then it’s time to look at what else might be done in the setting. You might surprise yourself, and the players certainly will.
    %p
      Remember that you are not telling a story. You are a
      = succeed "," do
        %em guide
      the other players are telling the stories with the choices their characters make. Your primary task is to set up situations that allow them to make choices that create story.
